<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="Coupon">
	
	<resultMap type="com.kh.pmfp.admin.model.vo.AdminCoupon" id="adminCouponResultSet">
		<id property="couponNo" column="COUPON_NO"/>
		<result property="couponName" column="COUPON_NAME"/>
		<result property="couponCateg" column="COUPON_CATEG"/>
		<result property="couponCondition" column="COUPON_CONDITION"/>
		<result property="couponCdate" column="COUPON_CDATE"/>
		<result property="couponEdate" column="COUPON_EDATE"/>
		<result property="couponRdiscount" column="COUPON_RDISCOUNT"/>
		<result property="couponPdiscount" column="COUPON_PDISCOUNT"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM COUPON
	</select>
	
	
	<select id="selectSearchCouponList" resultMap="adminCouponResultSet">
		SELECT *
		FROM COUPON ORDER BY COUPON_NO DESC
	</select>
	
	<insert id="insertCreateCoupon" parameterType="AdminCoupon">
		INSERT
		INTO COUPON
		VALUES (SEQ_CPNO.NEXTVAL,#{couponName},#{couponCateg},#{couponCondition},SYSDATE,#{couponEdate},#{couponRdiscount},#{couponPdiscount})
		
	</insert>
	
	
	
	
 
 </mapper>