<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Admin">
	<resultMap type="com.kh.pmfp.common.model.vo.Member" id="adminMemberResultSet">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberCateg" column="MEMBER_CATEG"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberNickName" column="MEMBER_NICKNAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberEnroll" column="MEMBER_ENROLL"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="comNo" column="COM_NO"/>
	</resultMap>
	
	<resultMap type="com.kh.pmfp.admin.model.vo.AdminMember" id="adminMemberResultSet1">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberCateg" column="MEMBER_CATEG"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberNickName" column="MEMBER_NICKNAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberEnroll" column="MEMBER_ENROLL"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="comNo" column="COM_NO"/>
		<result property="orderCount" column="ORDERCOUNT"/>
		<result property="orderDate" column="ORDERDATE"/>
		<result property="rn" column="ROWNUM"/>
	</resultMap>
	
	<resultMap type="com.kh.pmfp.admin.model.vo.AdminOrder" id="adminOrderResultSet">
		<id property="orderNo" column="ORDER_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="orderMethod" column="ORDER_METHOD" />
		<result property="receiver" column="ORDER_RECEIVER" />
		<result property="orderTel" column="ORDER_RTEL" />
		<result property="orderDate" column="ORDER_DATE" />
		<result property="orderSDate" column="ORDER_SDATE"/>
		<result property="orderReserveTime" column="ORDER_RESERVETIME" />
		<result property="orderPayno" column="ORDER_PAYNO" />
		<result property="orderPayPrice" column="ORDER_PAYPRICE" />
		<result property="orderStatus" column="ORDER_STATUS" />
		<result property="deliveryNo" column="DELIVERY_NO" />
		<result property="empNo" column="EMP_NO" />
		<result property="comNo" column="COM_NO" />
		<result property="comName" column="COM_NAME"/>
	</resultMap>

	<resultMap type="com.kh.pmfp.admin.model.vo.AdminSeller" id="adminSellerResultSet">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberCateg" column="MEMBER_CATEG"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberNickName" column="MEMBER_NICKNAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberEnroll" column="MEMBER_ENROLL"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="comNo" column="COM_NO"/>
		<result property="comName" column="COM_NAME"/>
		<result property="comAddress" column="COM_ADDRESS"/>
		<result property="comTel" column="COM_TEL"/>
		<result property="comLisenseNo" column="COM_LISENSENO"/>
		<result property="comStatus" column="COM_STATUS"/>
		<result property="comDate" column="COM_DATE"/>
		<result property="salesTime" column="COM_SALESTIME"/>
		<result property="comLoc" column="COM_LOCATION"/>
		<result property="comPark" column="COM_PARKING"/>
		<result property="comConfirm" column="COM_CONFIRM"/>
		<result property="comLat" column="LAT"/>
		<result property="comLon" column="LON"/>
		<result property="rn" column="ROWNUM"/>
	</resultMap>
	
	<resultMap type="com.kh.pmfp.admin.model.vo.AdminBoard" id="adminBoardResultSet">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="boardType" column="BOARD_TYPE"/>
		<result property="boardCate" column="BOARD_CATEG" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardCount" column="BOARD_COUNT" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="boardDate" column="BOARD_DATE" />
		<result property="boardLevel" column="BOARD_LEVEL" />
		<result property="boardRefNo" column="BOARD_REFNO" />
		<result property="boardStatus" column="BOARD_STATUS" />
		<result property="boardAnswer" column="BOARD_ANSWER" />
		<result property="boardComNo" column="BOARD_COMNO" />
		<result property="rn" column="ROWNUM"/>
	</resultMap>

	<resultMap type="com.kh.pmfp.admin.model.vo.AdminBoard2" id="adminBoardResultSet1">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="boardType" column="BOARD_TYPE"/>
		<result property="boardCate" column="BOARD_CATEG" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardCount" column="BOARD_COUNT" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="boardDate" column="BOARD_DATE" />
		<result property="boardLevel" column="BOARD_LEVEL" />
		<result property="boardRefNo" column="BOARD_REFNO" />
		<result property="boardStatus" column="BOARD_STATUS" />
		<result property="boardAnswer" column="BOARD_ANSWER" />
		<result property="boardComNo" column="BOARD_COMNO" />
		<result property="rn" column="ROWNUM"/>
		<result property="answerMemberNo" column="ANSWER_MEMBERNO" />
		<result property="answerName" column="ANSWER_NAME" />
		<result property="answerNickname" column="ANSWER_NICKNAME" />
		<result property="answerTitle" column="ANSWER_TITLE" />
		<result property="answerContent" column="ANSWER_CONTENT" />
		<result property="answeLevel" column="ANSWER_LEVEL" />
		<result property="answerRefNo" column="ANSWER_REFNO"/>
	</resultMap>
	
	<resultMap type="com.kh.pmfp.admin.model.vo.AdminSellerOrderList" id="adminSellerOrderListResultSet">
		<id property="comNo" column="COM_NO"/>
		<id property="orderMDate" column="ORDER_MDATE"/>
		<result property="orderExpenseNo" column="ORDEREXPENSE_NO" />
		<result property="comName" column="COM_NAME" />
		<result property="orderMStatus" column="ORDER_MSTATUS" />
		<result property="orderList" column="ORDERLIST" />
		<result property="orderCal" column="ORDER_CALCULATE" />
		<result property="rn" column="ROWNUM"/>
	</resultMap>
	
	<resultMap type="com.kh.pmfp.admin.model.vo.AdminSellerOrder" id="adminSellerOrderResultSet">
		<id property="orderMno" column="ORDER_MNO"/>
		<result property="comNo" column="COM_NO"/>
		<result property="orderCal" column="ORDER_CALCULATE" />
		<result property="orderMStatus" column="ORDER_MSTATUS" />
		<result property="orderMDate" column="ORDER_MDATE" />
		<result property="materialNo" column="MATERIAL_NO" />
		<result property="materialName" column="MATERIAL_NAME" />
		<result property="weight" column="WEIGHT" />
		<result property="unit" column="UNIT"/>
		<result property="materialWeight" column="MATERIAL_WEIGHT" />
		<result property="price" column="PRICE"/>
		<result property="rn" column="ROWNUM"/>
	</resultMap>
	
	<resultMap type="com.kh.pmfp.admin.model.vo.AdminMaterial" id="adminMaterialResultSet">
		<id property="mNo" column="MATERIAL_NO"/>
		<result property="mCate" column="MATERIAL_CATEG"/>
		<result property="mName" column="MATERIAL_NAME" />
		<result property="mSize" column="MATERIAL_SIZE" />
		<result property="mWeight" column="MATERIAL_WEIGHT" />
		<result property="mBuyPrice" column="MATERIAL_BUYPRICE" />
		<result property="mSellPrice" column="MATERIAL_SELLPRICE" />
		<result property="mStatus" column="MATERIAL_STATUS" />
		<result property="iNo" column="IMG_NO" />
		<result property="iCate" column="IMG_CATEG" />
		<result property="iOrigineName" column="IMG_ORIGINNAME" />
		<result property="iChangeName" column="IMG_CHANGENAME" />
		<result property="iFilePath" column="IMG_FILEPATH" />
		<result property="iUDate" column="IMG_UPLOADDATE" />
		<result property="iStatus" column="IMG_STATUS" />
		<result property="rn" column="ROWNUM"/>
	</resultMap>
	
	<resultMap type="com.kh.pmfp.admin.model.vo.AdminOrderMenu" id="adminMenuResultSet">
		<id property="orderNo" column="ORDER_NO"/>
		<result property="rn" column="ROWNUM"/>
		<result property="orderIno" column="ORDER_INO" />
		<result property="orderICate" column="ORDER_ICATEG" />
		<result property="orderSize" column="ORDER_ISIZE" />
		<result property="price" column="PRICE" />
		<result property="tCount" column="ORDER_TCOUNT" />
		<result property="menu" column="MENU" />
	</resultMap>
	
	<resultMap type="com.kh.pmfp.admin.model.vo.AdminCalculateList" id="adminCalculateListResultSet">
		<id property="orderExpNo" column="ORDEREXPENSE_NO"/>
		<result property="orderExpMonth" column="ORDEREXPENSE_MONTH"/>
		<result property="comNo" column="COM_NO" />
		<result property="comName" column="COM_NAME" />
		<result property="orderCStatus" column="ORDER_CALCULATE" />
		<result property="price" column="PRICE" />
		<result property="times" column="TIMES" />
		<result property="orderList" column="ORDERLIST" />
		<result property="dateList" column="DATELIST" />
		<result property="rn" column="ROWNUM" />
	</resultMap>
	
	<resultMap type="com.kh.pmfp.admin.model.vo.AdminCalculate" id="adminCalculateResultSet">
		<id property="orderExpNo" column="ORDEREXPENSE_NO"/>
		<result property="orderExpMonth" column="ORDEREXPENSE_MONTH"/>
		<result property="comNo" column="COM_NO" />
		<result property="comName" column="COM_NAME" />
		<result property="orderMStatus" column="ORDER_MSTATUS" />
		<result property="price" column="PRICE" />
		<result property="orderCStatus" column="ORDER_CALCULATE" />
		<result property="orderList" column="ORDERLIST" />
		<result property="orderMDate" column="ORDER_MDATE" />
		<result property="rn" column="ROWNUM" />
	</resultMap>
	
	<resultMap type="com.kh.pmfp.admin.model.vo.AdminMenu" id="adminBasicResultSet">
		<id property="bNo" column="BASIC_NO"/>
		<result property="bSize" column="BASIC_SIZE"/>
		<result property="bMenu" column="BASIC_MENU" />
		<result property="bDetail" column="MENUDETAIL" />
		<result property="bBuyPrice" column="BUYPRICE" />
		<result property="bSellPrice" column="SELLPRICE" />
		<result property="mNo" column="MATERIAL_NO"/>
		<result property="mName" column="MATERIAL_NAME"/>
		<result property="mSellPrice" column="MATERIAL_SELLPRICE"/>
		<result property="mBuyPrice" column="MATERIAL_BUYPRICE"/>
		<result property="iNo" column="IMG_NO"/>
		<result property="iCate" column="IMG_CATEG"/>
		<result property="iFilePath" column="IMG_FILEPATH"/>
		<result property="iChangeName" column="IMG_CHANGENAME"/>
		<result property="iOriginName" column="IMG_ORIGINNAME"/>
		<result property="rn" column="ROWNUM" />
	</resultMap>
	
	<select id="selectUserCount" resultType="_int" parameterType="AdminMember">
		SELECT COUNT(*) 
		FROM MEMBER M 
		WHERE MEMBER_CATEG=#{memberCateg} AND MEMBER_STATUS='Y'
	</select>
	
	<select id="selectMemberList" resultMap="adminMemberResultSet1">
		SELECT ROWNUM, (SELECT COUNT(*)  
					FROM ORDER_MAIN O 
					WHERE O.MEMBER_NO=M.MEMBER_NO) AS ORDERCOUNT,
					(SELECT ORDER_DATE 
					FROM (SELECT * FROM ORDER_MAIN O 
								JOIN MEMBER M ON (M.MEMBER_NO=O.MEMBER_NO)
								WHERE O.MEMBER_NO=M.MEMBER_NO 
								ORDER BY O.ORDER_DATE DESC) 
					WHERE ROWNUM=1) AS ORDERDATE,
					M.* 
		FROM MEMBER M  
		WHERE MEMBER_CATEG=0 AND MEMBER_STATUS='Y'
	</select>
	
	<select id="selectMember" resultMap="adminMemberResultSet1" parameterType="_int">
		SELECT (SELECT COUNT(*)  
					FROM ORDER_MAIN O 
					WHERE O.MEMBER_NO=M.MEMBER_NO) AS ORDERCOUNT,
					(SELECT ORDER_DATE 
					FROM (SELECT * FROM ORDER_MAIN O 
								JOIN MEMBER M ON (M.MEMBER_NO=O.MEMBER_NO)
								WHERE O.MEMBER_NO=M.MEMBER_NO 
								ORDER BY O.ORDER_DATE DESC) 
					WHERE ROWNUM=1) AS ORDERDATE,
					M.* 
		FROM MEMBER M  
		WHERE M.MEMBER_CATEG=0 AND M.MEMBER_STATUS='Y' AND M.MEMBER_NO=#{num}
	</select>
	
	<select id="selectUserOrderList" resultMap="adminOrderResultSet" parameterType="_int">
		SELECT OM.*, C.COM_NAME
		FROM ORDER_MAIN OM 
		JOIN COMPANY C ON (C.COM_NO=OM.COM_NO)
		WHERE OM.MEMBER_NO=#{num}
	</select>
	
	<select id="selectSellerList" resultMap="adminSellerResultSet">
		SELECT M.*, C.*, ROWNUM 
		FROM MEMBER M
		JOIN COMPANY C ON (M.COM_NO=C.COM_NO)
		WHERE M.MEMBER_CATEG=1 
		AND C.COM_STATUS='Y' OR C.COM_STATUS='W' OR C.COM_STATUS='S' 
		AND C.COM_CONFIRM='Y'
	</select>
	
	<select id="selectWaitSeller" resultMap="adminSellerResultSet">
		SELECT M.*, C.*, ROWNUM 
		FROM MEMBER M
		JOIN COMPANY C ON (M.COM_NO=C.COM_NO)
		WHERE M.MEMBER_CATEG=1 AND C.COM_CONFIRM='N'
	</select>
	
	<select id="selectSeller" resultMap="adminSellerResultSet" parameterType="_int">
		SELECT M.*, C.* 
		FROM MEMBER M
		JOIN COMPANY C ON (M.COM_NO=C.COM_NO)
		WHERE M.MEMBER_CATEG=1 
		AND C.COM_NO=#{num} 
	</select>
	
	<select id="selectBoardCount" resultType="_int" parameterType="AdminBoard">
		SELECT COUNT(*) 
		FROM BOARD 
		WHERE BOARD_TYPE=#{boardType} AND B.BOARD_LEVEL=1 AND BOARD_STATUS='Y' 
	</select>
	
	<select id="selectNoticeList" resultMap="adminBoardResultSet">
		SELECT B.*, M.MEMBER_NAME, M.MEMBER_NICKNAME, ROWNUM  
		FROM BOARD B 
		JOIN MEMBER M ON (B.MEMBER_NO=M.MEMBER_NO) 
		WHERE B.BOARD_TYPE=4 AND B.BOARD_LEVEL=1 AND B.BOARD_STATUS='Y'
		ORDER BY ROWNUM DESC
	</select> 

	<update id="updateBCount" parameterType="_int">
		UPDATE BOARD 
		SET BOARD_COUNT=(SELECT BOARD_COUNT FROM BOARD WHERE BOARD_NO=#{num})+1 
		WHERE BOARD_NO=#{num} AND BOARD_STATUS='Y' 
	</update>
	
	<select id="selectNoticeCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE BOARD_TYPE=2 AND BOARD_LEVEL=1 AND BOARD_STATUS='Y'
	</select>
	
	<select id="selectNotice" resultMap="adminBoardResultSet" parameterType="_int">
		SELECT B.*, M.MEMBER_NAME, M.MEMBER_NICKNAME, ROWNUM  
		FROM BOARD B 
		JOIN MEMBER M ON (B.MEMBER_NO=M.MEMBER_NO) 
		WHERE B.BOARD_NO=#{num} AND B.BOARD_LEVEL=1 AND B.BOARD_STATUS='Y'
	</select>
	
	<select id="selectFaqList" resultMap="adminBoardResultSet">
		SELECT B.*, M.MEMBER_NAME, M.MEMBER_NICKNAME, ROWNUM  
		FROM BOARD B 
		JOIN MEMBER M ON (B.MEMBER_NO=M.MEMBER_NO) 
		WHERE B.BOARD_TYPE=2 AND B.BOARD_LEVEL=1 AND B.BOARD_STATUS='Y'
		ORDER BY ROWNUM DESC
	</select>
	
	<select id="selectQnaCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE BOARD_TYPE=3 AND BOARD_LEVEL=1 AND BOARD_STATUS='Y'
	</select>
	
	<select id="selectQnaList" resultMap="adminBoardResultSet">
		SELECT B.*, M.MEMBER_NAME, M.MEMBER_NICKNAME, ROWNUM  
		FROM BOARD B 
		JOIN MEMBER M ON (B.MEMBER_NO=M.MEMBER_NO) 
		WHERE B.BOARD_TYPE=3 AND B.BOARD_LEVEL=1 AND B.BOARD_STATUS='Y'
		ORDER BY ROWNUM DESC
	</select>
	
	<select id="selectQnaWaitCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD 
		WHERE BOARD_TYPE=3 AND BOARD_LEVEL=1 AND BOARD_STATUS='Y' AND BOARD_ANSWER='N'
	</select>
	
	<select id="selectQnaWaitList" resultMap="adminBoardResultSet">
		SELECT B.*, M.MEMBER_NAME, M.MEMBER_NICKNAME, ROWNUM  
		FROM BOARD B 
		JOIN MEMBER M ON (B.MEMBER_NO=M.MEMBER_NO) 
		WHERE B.BOARD_TYPE=3 AND B.BOARD_LEVEL=1 AND B.BOARD_ANSWER='N' AND B.BOARD_STATUS='Y'
		ORDER BY ROWNUM DESC
	</select>
	
	<select id="selectQnaCompleteCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD 
		WHERE BOARD_TYPE=3 AND BOARD_LEVEL=1 AND BOARD_STATUS='Y' AND BOARD_ANSWER='Y'
	</select>
	
	<select id="selectQnaCompleteList" resultMap="adminBoardResultSet">
		SELECT B.*, M.MEMBER_NAME, M.MEMBER_NICKNAME, ROWNUM  
		FROM BOARD B 
		JOIN MEMBER M ON (B.MEMBER_NO=M.MEMBER_NO) 
		WHERE B.BOARD_TYPE=3 AND B.BOARD_LEVEL=1 AND B.BOARD_ANSWER='Y' AND B.BOARD_STATUS='Y'
		ORDER BY ROWNUM DESC
	</select>
	
	<select id="selectFaq" resultMap="adminBoardResultSet" parameterType="_int">
		SELECT B.*, M.MEMBER_NAME, M.MEMBER_NICKNAME, ROWNUM  
		FROM BOARD B 
		JOIN MEMBER M ON (B.MEMBER_NO=M.MEMBER_NO) 
		WHERE B.BOARD_NO=#{num} AND B.BOARD_STATUS='Y'
	</select>
	
	<select id="selectQna" resultMap="adminBoardResultSet" parameterType="_int">
		SELECT B.*, M.MEMBER_NAME, M.MEMBER_NICKNAME, ROWNUM  
		FROM BOARD B 
		JOIN MEMBER M ON (B.MEMBER_NO=M.MEMBER_NO) 
		WHERE B.BOARD_NO=#{num} AND B.BOARD_STATUS='Y'
	</select>
	
	<select id="selectAnswer" resultMap="adminBoardResultSet" parameterType="_int">
		SELECT B.*, M.MEMBER_NAME, M.MEMBER_NICKNAME
		FROM BOARD B 
		JOIN MEMBER M ON (B.MEMBER_NO=M.MEMBER_NO) 
		WHERE B.BOARD_REFNO=#{num} AND B.BOARD_STATUS='Y'
	</select>
	
	<insert id="insertNotice" parameterType="AdminBoard">
		INSERT INTO BOARD VALUES (SEQ_BONO.NEXTVAL, #{boardType}, #{boardCate}, #{boardTitle},
		#{boardContent}, DEFAULT, #{memberNo},  DEFAULT, 1, NULL, DEFAULT, NULL, NULL)
	</insert>
	
	<update id="updateNotice" parameterType="AdminBoard">
		UPDATE BOARD SET BOARD_TYPE=#{boardType}, BOARD_CATEG=#{boardCate}, BOARD_TITLE=#{boardTitle},
		BOARD_CONTENT=#{boardContent}, MEMBER_NO=#{memberNo}, BOARD_DATE=SYSDATE
		WHERE BOARD_NO=#{boardNo} AND BOARD_STATUS='Y'
	</update>
	
	<update id="deleteNotice" parameterType="_int">
		UPDATE BOARD SET BOARD_STATUS='N' 
		WHERE BOARD_NO=#{num} 
	</update>
	
	<update id="updateFaq" parameterType="AdminBoard">
		UPDATE BOARD SET BOARD_TYPE=#{boardType}, BOARD_CATEG=#{boardCate}, BOARD_TITLE=#{boardTitle},
		BOARD_CONTENT=#{boardContent}, MEMBER_NO=#{memberNo}, BOARD_DATE=SYSDATE
		WHERE BOARD_NO=#{boardNo} AND BOARD_STATUS='Y'
	</update>
	
	<update id="deleteFaq" parameterType="_int">
		UPDATE BOARD SET BOARD_STATUS='N' 
		WHERE BOARD_NO=#{num} 
	</update>
	
	<insert id="insertFaq" parameterType="AdminBoard">
		INSERT INTO BOARD VALUES (SEQ_BONO.NEXTVAL, #{boardType}, #{boardCate}, 
		#{boardTitle}, #{boardContent}, DEFAULT, #{memberNo},
		SYSDATE, 1, NULL, DEFAULT, NULL, NULL)
	</insert>
	
	<insert id="insertAnswer" parameterType="AdminBoard">
		INSERT INTO BOARD VALUES (SEQ_BONO.NEXTVAL, #{boardType}, #{boardCate}, 
		'QnA답변', #{boardContent}, DEFAULT, #{memberNo}, 
		SYSDATE, 2, #{boardRefNo}, DEFAULT, NULL, NULL)
	</insert>
	
	<update id="updateQna" parameterType="_int">
		UPDATE BOARD SET BOARD_ANSWER='Y'
		WHERE BOARD_NO=#{num}
	</update>
	
	<select id="selectSellerOrderCount" resultType="_int">
		SELECT COUNT(*) 
		FROM 
			(SELECT OM.COM_NO, OM.ORDER_MDATE, OM.ORDER_MSTATUS 
			FROM ORDER_MATERIAL OM 
			GROUP BY OM.COM_NO, OM.ORDER_MDATE, OM.ORDER_MSTATUS)
	</select>
	
	<select id="selectSellerOrderList" resultMap="adminSellerOrderListResultSet">
		SELECT ROWNUM, SOL.* 
		FROM 
			(SELECT OM.COM_NO, C.COM_NAME, OM.ORDEREXPENSE_NO, OM.ORDER_MDATE, OM.ORDER_MSTATUS, 
			(MIN(M.MATERIAL_NAME) || ' 외 ' || (COUNT(1) - 1)|| '건') AS ORDERLIST, OM.ORDER_CALCULATE
			FROM ORDER_MATERIAL OM 
			JOIN MATERIAL M ON(M.MATERIAL_NO = OM.MATERIAL_NO) 
			JOIN COMPANY C ON (C.COM_NO=OM.COM_NO) 
			GROUP BY OM.COM_NO,C.COM_NAME, OM.ORDER_MDATE, OM.ORDER_CALCULATE, OM.ORDEREXPENSE_NO, OM.ORDER_MSTATUS
			ORDER BY OM.ORDER_MDATE DESC) SOL
		ORDER BY ROWNUM
	</select>
	
	<select id="selectEachSellerOrderCount" resultType="_int" parameterType="_int">
		SELECT COUNT(*) 
		FROM 
		(SELECT OM.COM_NO, OM.ORDER_MDATE, OM.ORDER_MSTATUS 
		FROM ORDER_MATERIAL OM 
		WHERE OM.COM_NO=#{num} 
		GROUP BY OM.COM_NO, OM.ORDER_MDATE, OM.ORDER_MSTATUS)
	</select>
	
	<select id="selectEachSellerOrderList" resultMap="adminSellerOrderListResultSet" parameterType="_int">
		SELECT ROWNUM, SOL.* 
		FROM 
			(SELECT OM.COM_NO, C.COM_NAME, OM.ORDEREXPENSE_NO, OM.ORDER_MDATE, OM.ORDER_MSTATUS, 
			(MIN(M.MATERIAL_NAME) || ' 외 ' || (COUNT(1) - 1)|| '건') AS ORDERLIST, OM.ORDER_CALCULATE
			FROM ORDER_MATERIAL OM 
			JOIN MATERIAL M ON(M.MATERIAL_NO = OM.MATERIAL_NO) 
			JOIN COMPANY C ON (C.COM_NO=OM.COM_NO) 
            WHERE OM.COM_NO=#{num} 
			GROUP BY OM.COM_NO,C.COM_NAME, OM.ORDER_MDATE, OM.ORDER_CALCULATE, OM.ORDEREXPENSE_NO, OM.ORDER_MSTATUS
			ORDER BY OM.ORDER_MDATE DESC) SOL
		ORDER BY ROWNUM
	</select>
	
	<select id="selectSellerOrder" resultMap="adminSellerOrderResultSet">
		SELECT ROWNUM, OM.ORDER_MNO, OM.COM_NO, OM.ORDER_MDATE, OM.ORDER_CALCULATE, OM.ORDER_MSTATUS, OM.MATERIAL_NO, M.MATERIAL_NAME, M.MATERIAL_WEIGHT AS WEIGHT, 
		M.MATERIAL_BUYPRICE AS UNIT, OM.MATERIAL_WEIGHT, OM.MATERIAL_WEIGHT/(M.MATERIAL_WEIGHT/1000)*M.MATERIAL_BUYPRICE AS PRICE
		FROM ORDER_MATERIAL OM 
		JOIN MATERIAL M ON (M.MATERIAL_NO = OM.MATERIAL_NO) 
		WHERE OM.ORDER_MDATE=TO_DATE(#{orderMDate}, 'RR-MM-DD HH24:MI:SS') AND OM.COM_NO=#{comNo} 
		GROUP BY ROWNUM, OM.ORDER_MNO, OM.COM_NO, OM.ORDER_MDATE, OM.ORDER_CALCULATE, OM.ORDER_MSTATUS, OM.MATERIAL_NO,
		M.MATERIAL_NAME, OM.MATERIAL_WEIGHT, M.MATERIAL_BUYPRICE, M.MATERIAL_WEIGHT,  OM.MATERIAL_WEIGHT/(M.MATERIAL_WEIGHT/1000)*M.MATERIAL_BUYPRICE
		ORDER BY OM.MATERIAL_NO 
	</select>
	
	<select id="selectMaterialList" resultMap="adminMaterialResultSet">
		SELECT M.*, ROWNUM FROM MATERIAL M 
	</select>
	
	<select id="selectIfMaterial" resultType="_int" parameterType="_int">
		SELECT COUNT(*) 
		FROM IMAGE 
		WHERE MATERIAL_NO=#{materialNo} AND IMG_STATUS='Y'
	</select>
	
	<select id="selectMaterialImg" resultMap="adminMaterialResultSet" parameterType="_int">
		SELECT M.*, I.IMG_NO, I.IMG_CATEG, I.IMG_ORIGINNAME, I.IMG_CHANGENAME, 
		I.IMG_FILEPATH, I.IMG_UPLOADDATE, I.IMG_STATUS, ROWNUM 
		FROM MATERIAL M 
		JOIN IMAGE I ON (M.MATERIAL_NO=I.MATERIAL_NO) 
		WHERE M.MATERIAL_NO=#{materialNo}
	</select>
	
	<select id="selectMaterial" resultMap="adminMaterialResultSet" parameterType="_int">
		SELECT M.* 
		FROM MATERIAL M 
		WHERE M.MATERIAL_NO=#{materialNo}
	</select>
	
	<select id="selectMatCount" resultType="_int">
		SELECT COUNT(*) 
		FROM MATERIAL M 
	</select>
	
	<update id="updateMaterial" parameterType="AdminMaterial">
		UPDATE MATERIAL SET MATERIAL_NAME=#{mName}, MATERIAL_SIZE=#{mSize}, MATERIAL_WEIGHT=#{mWeight}, 
		MATERIAL_CATEG=#{mCate}, MATERIAL_BUYPRICE=#{mBuyPrice}, MATERIAL_SELLPRICE=#{mSellPrice}, MATERIAL_STATUS=#{mStatus} 
		WHERE MATERIAL_NO=#{mNo}
	</update>
	
	<update id="deleteMaterial" parameterType="_int">
		UPDATE MATERIAL SET MATERIAL_STATUS='N' 
		WHERE MATERIAL_NO=#{materialNo}
	</update>
	
	<update id="resellMaterial" parameterType="_int">
		UPDATE MATERIAL SET MATERIAL_STATUS='Y' 
		WHERE MATERIAL_NO=#{materialNo}
	</update>
	
	<select id="selectOrderCount" resultType="_int">
		SELECT COUNT(*) FROM ORDER_MAIN WHERE ORDER_NO > 0 
	</select>
	
	<select id="selectOrderList" resultMap="adminOrderResultSet">
		SELECT OM.ORDER_NO, OM.MEMBER_NO, MM.MEMBER_NAME, MM.MEMBER_ID, OM.ORDER_METHOD, 
		OM.ORDER_RECEIVER, OM.ORDER_DATE, TO_CHAR(OM.ORDER_DATE, 'RR/MM/DD HH24:MI:SS') ORDER_SDATE, 
		OM.ORDER_PAYNO, OM.ORDER_PAYPRICE, OM.ORDER_STATUS, OM.COM_NO, CO.COM_NAME
		FROM ORDER_MAIN OM 
		JOIN MEMBER MM ON (MM.MEMBER_NO=OM.MEMBER_NO) 
		JOIN COMPANY CO ON (OM.COM_NO=CO.COM_NO) 
		WHERE OM.ORDER_NO>0
		GROUP BY OM.ORDER_NO, OM.MEMBER_NO, MM.MEMBER_NAME, MM.MEMBER_ID, OM.ORDER_METHOD, 
		OM.ORDER_RECEIVER, OM.ORDER_DATE, OM.ORDER_PAYNO, OM.ORDER_PAYPRICE, OM.ORDER_STATUS, 
		OM.COM_NO, CO.COM_NAME
		ORDER BY OM.ORDER_NO DESC
	</select>
	
	<select id="selectOrder" resultMap="adminOrderResultSet" parameterType="_int">
		SELECT OM.ORDER_NO, OM.MEMBER_NO, MM.MEMBER_NAME, MM.MEMBER_ID, OM.ORDER_METHOD, 
		OM.ORDER_RECEIVER, OM.ORDER_DATE, TO_CHAR(OM.ORDER_DATE, 'RR/MM/DD HH24:MI:SS') ORDER_SDATE, 
		OM.ORDER_PAYNO, OM.ORDER_PAYPRICE, OM.ORDER_STATUS, OM.COM_NO, CO.COM_NAME
		FROM ORDER_MAIN OM 
		JOIN MEMBER MM ON (MM.MEMBER_NO=OM.MEMBER_NO) 
		JOIN COMPANY CO ON (OM.COM_NO=CO.COM_NO) 
		WHERE OM.ORDER_NO=#{orderNo}
		GROUP BY OM.ORDER_NO, OM.MEMBER_NO, MM.MEMBER_NAME, MM.MEMBER_ID, OM.ORDER_METHOD, 
		OM.ORDER_RECEIVER, OM.ORDER_DATE, OM.ORDER_PAYNO, OM.ORDER_PAYPRICE, OM.ORDER_STATUS, 
		OM.COM_NO, CO.COM_NAME
		ORDER BY OM.ORDER_NO DESC
	</select>
	
	<select id="selectOrderMenu" resultMap="adminMenuResultSet" parameterType="_int">
		SELECT ROWNUM, MN.* 
		FROM 
			(SELECT OI.ORDER_INO, OI.ORDER_NO, OI.ORDER_ICATEG, OI.ORDER_ISIZE, SUM(M.MATERIAL_SELLPRICE*ORDER_TCOUNT) PRICE, OT.ORDER_TCOUNT, 
			LISTAGG(CAST(M.MATERIAL_NAME||M.MATERIAL_SIZE||'／'||OT.ORDER_TCOUNT||'' AS VARCHAR(300)) , ', ')
			WITHIN GROUP (ORDER BY M.MATERIAL_NAME) MENU
			FROM ORDER_ITEM OI 
			JOIN ORDER_MAIN OM ON (OM.ORDER_NO=OI.ORDER_NO)
			JOIN ORDER_TOPPING OT ON (OI.ORDER_INO=OT.ORDER_INO) 
			JOIN MATERIAL M ON (OT.MATERIAL_NO=M.MATERIAL_NO) 
			WHERE OI.ORDER_NO=#{orderNo} 
			GROUP BY OI.ORDER_INO, OI.ORDER_NO,  OI.ORDER_ICATEG, OI.ORDER_ISIZE, OT.ORDER_TCOUNT) MN
		ORDER BY ROWNUM ASC
	</select>
	
	<select id="selectCalculateCount" resultType="_int">
		SELECT COUNT(*) 
		FROM (
			SELECT SOL.ORDEREXPENSE_NO, SOL.COM_NO, SOL.ORDER_CALCULATE
			FROM 
				(SELECT OM.COM_NO, OM.ORDEREXPENSE_NO, OM.ORDER_MDATE, OM.ORDER_MSTATUS, OM.ORDER_CALCULATE
				FROM ORDER_MATERIAL OM 
				GROUP BY OM.COM_NO, OM.ORDER_MDATE, OM.ORDER_CALCULATE, OM.ORDEREXPENSE_NO, OM.ORDER_MSTATUS
				ORDER BY OM.ORDER_MDATE DESC) SOL
			GROUP BY SOL.ORDEREXPENSE_NO, SOL.COM_NO, SOL.ORDER_CALCULATE)
	</select>
	
	<select id="selectCalculateList" resultMap="adminCalculateListResultSet">
		SELECT ROWNUM, E.* 
		FROM 
			(SELECT SOL.ORDEREXPENSE_NO, SOL.ORDEREXPENSE_MONTH, SOL.COM_NO, SOL.COM_NAME, 
			SOL.ORDER_CALCULATE, SUM(SOL.PRICE) PRICE, COUNT(SOL.COM_NO) TIMES, 
			LISTAGG(CAST(SOL.ORDERLIST AS VARCHAR(300)) , ', ') WITHIN GROUP (ORDER BY SOL.ORDER_MDATE) ORDERLIST,
			LISTAGG(CAST(SOL.ORDER_MDATE AS VARCHAR(300)) , ', ') WITHIN GROUP (ORDER BY SOL.ORDER_MDATE) DATELIST
			FROM 
				(SELECT OM.COM_NO, C.COM_NAME, OM.ORDEREXPENSE_NO, OE.ORDEREXPENSE_MONTH, OM.ORDER_MDATE, OM.ORDER_MSTATUS, 
				(MIN(M.MATERIAL_NAME) || ' 외 ' || (COUNT(1) - 1)|| '건') AS ORDERLIST, OM.ORDER_CALCULATE, SUM(OM.MATERIAL_PRICE) PRICE
				FROM ORDER_MATERIAL OM 
				JOIN MATERIAL M ON(M.MATERIAL_NO = OM.MATERIAL_NO) 
				JOIN COMPANY C ON (C.COM_NO=OM.COM_NO) 
    			JOIN ORDER_EXPENSE OE ON (OE.ORDEREXPENSE_NO=OM.ORDEREXPENSE_NO) 
				GROUP BY OM.COM_NO,C.COM_NAME, OM.ORDER_MDATE, OM.ORDER_CALCULATE, OM.ORDEREXPENSE_NO, OM.ORDER_MSTATUS, OE.ORDEREXPENSE_MONTH
				ORDER BY OM.ORDER_MDATE DESC) SOL
			GROUP BY SOL.ORDEREXPENSE_NO,SOL.ORDEREXPENSE_MONTH, SOL.COM_NO, SOL.COM_NAME, SOL.ORDER_CALCULATE
			ORDER BY SOL.ORDEREXPENSE_NO DESC) E
	</select>
	
	<select id="selectCalculate" resultMap="adminCalculateResultSet" parameterType="AdminCalculate">
		SELECT ROWNUM, SOL.* 
		FROM 
	    	(SELECT OM.COM_NO, C.COM_NAME, OM.ORDEREXPENSE_NO, OE.ORDEREXPENSE_MONTH, OM.ORDER_MDATE, OM.ORDER_MSTATUS,  
	    	(MIN(M.MATERIAL_NAME) || ' 외 ' || (COUNT(1) - 1)|| '건') AS ORDERLIST, OM.ORDER_CALCULATE, SUM(OM.MATERIAL_PRICE) PRICE
	   		FROM ORDER_MATERIAL OM 
			JOIN MATERIAL M ON(M.MATERIAL_NO = OM.MATERIAL_NO) 
			JOIN COMPANY C ON (C.COM_NO=OM.COM_NO) 
			JOIN ORDER_EXPENSE OE ON (OM.ORDEREXPENSE_NO=OE.ORDEREXPENSE_NO) 
			GROUP BY OM.COM_NO,C.COM_NAME, OM.ORDER_MDATE, OM.ORDER_CALCULATE, OM.ORDEREXPENSE_NO, OE.ORDEREXPENSE_MONTH, OM.ORDER_MSTATUS
			ORDER BY OM.ORDER_MDATE ASC) SOL
		WHERE SOL.COM_NO=#{comNo} AND SOL.ORDEREXPENSE_NO=#{orderExpNo} 
		ORDER BY ROWNUM
	</select>
	
	<select id="selectUpdateCalCount" resultType="_int" parameterType="AdminCalculate">
		SELECT COUNT(*) FROM ORDER_MATERIAL 
		WHERE COM_NO=#{comNo} AND ORDEREXPENSE_NO=#{orderExpNo}
	</select>
	
	<update id="updateCalculate" parameterType="AdminCalculate">
		UPDATE ORDER_MATERIAL SET ORDER_CALCULATE='Y' WHERE COM_NO=#{comNo} AND ORDEREXPENSE_NO=#{orderExpNo}
	</update>
	
	<select id="selectMenuCount" resultType="_int">
		SELECT COUNT(*) FROM BASIC_MENU
	</select>
	
	<select id="selectMenuList" resultMap="adminBasicResultSet">
		SELECT ROWNUM, MENU.* 
		FROM 
			(SELECT BM.BASIC_NO, BM.BASIC_SIZE, BM.BASIC_MENU, SUM(M.MATERIAL_SELLPRICE*BT.BASIC_TCOUNT) SELLPRICE,
			SUM(M.MATERIAL_BUYPRICE*BT.BASIC_TCOUNT) BUYPRICE,  
			LISTAGG(CAST(M.MATERIAL_NAME||M.MATERIAL_SIZE||'／'||BT.BASIC_TCOUNT AS VARCHAR(300)) , ', ') WITHIN GROUP (ORDER BY M.MATERIAL_NAME) MENUDETAIL 
			FROM BASIC_MENU BM 
			JOIN BASIC_TOPPING BT ON (BM.BASIC_NO=BT.BASIC_NO) 
			JOIN MATERIAL M ON (M.MATERIAL_NO=BT.MATERIAL_NO)
			GROUP BY BM.BASIC_NO, BM.BASIC_SIZE, BM.BASIC_MENU) MENU
	</select>
	
	<select id="selectMenuImgCount" resultType="_int" parameterType="_int">
		SELECT COUNT(*) FROM IMAGE WHERE BASIC_NO=#{basicNo}
	</select>
	
	<select id="selectMenu" resultMap="adminBasicResultSet" parameterType="_int">
		SELECT BM.BASIC_NO, BM.BASIC_SIZE, BM.BASIC_MENU, SUM(M.MATERIAL_SELLPRICE*BT.BASIC_TCOUNT) SELLPRICE,
		SUM(M.MATERIAL_BUYPRICE*BT.BASIC_TCOUNT) BUYPRICE 
		FROM BASIC_MENU BM 
		JOIN BASIC_TOPPING BT ON (BM.BASIC_NO=BT.BASIC_NO) 
		JOIN MATERIAL M ON (M.MATERIAL_NO=BT.MATERIAL_NO) 
		WHERE BM.BASIC_NO=#{basicNo} 
		GROUP BY BM.BASIC_NO, BM.BASIC_SIZE, BM.BASIC_MENU
	</select>
		
	<select id="selectMenuImg" resultMap="adminBasicResultSet" parameterType="_int">
		SELECT BM.BASIC_NO, BM.BASIC_SIZE, BM.BASIC_MENU, SUM(M.MATERIAL_SELLPRICE*BT.BASIC_TCOUNT) SELLPRICE,
		SUM(M.MATERIAL_BUYPRICE*BT.BASIC_TCOUNT) BUYPRICE, I.IMG_NO, I.IMG_CATEG, I.IMG_FILEPATH, I.IMG_CHANGENAME, I.IMG_ORIGINNAME 
		FROM BASIC_MENU BM 
		JOIN BASIC_TOPPING BT ON (BM.BASIC_NO=BT.BASIC_NO) 
		JOIN MATERIAL M ON (M.MATERIAL_NO=BT.MATERIAL_NO) 
		JOIN IMAGE I ON (I.BASIC_NO=BM.BASIC_NO) 
		WHERE BM.BASIC_NO=#{basicNo} 
		GROUP BY BM.BASIC_NO, BM.BASIC_SIZE, BM.BASIC_MENU, I.IMG_NO, I.IMG_CATEG, I.IMG_FILEPATH, I.IMG_CHANGENAME, I.IMG_ORIGINNAME
	</select>
	
	<select id="selectMenuDetail" resultMap="adminBasicResultSet" parameterType="_int">
		SELECT BM.BASIC_NO, BM.BASIC_MENU, BT.BASIC_TCOUNT, M.MATERIAL_NO, M.MATERIAL_NAME||' '||M.MATERIAL_SIZE as MATERIAL_NAME, 
		BT.BASIC_TCOUNT, M.MATERIAL_BUYPRICE, M.MATERIAL_SELLPRICE 
		FROM BASIC_MENU BM 
		JOIN BASIC_TOPPING BT ON (BT.BASIC_NO=BM.BASIC_NO) 
		JOIN MATERIAL M ON (M.MATERIAL_NO=BT.MATERIAL_NO) 
		WHERE BM.BASIC_NO=#{basicNo}
	</select>
	
</mapper>
