<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Admin">
	<resultMap type="com.kh.pmfp.common.model.vo.Member" id="adminMemberResultSet">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberCateg" column="MEMBER_CATEG"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberNickName" column="MEMBER_NICKNAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberEnroll" column="MEMBER_ENROLL"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="comNo" column="COM_NO"/>
	</resultMap>
	
	<resultMap type="com.kh.pmfp.admin.model.vo.AdminMember" id="adminMemberResultSet1">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberCateg" column="MEMBER_CATEG"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberNickName" column="MEMBER_NICKNAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberEnroll" column="MEMBER_ENROLL"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="comNo" column="COM_NO"/>
		<result property="orderCount" column="ORDERCOUNT"/>
		<result property="orderDate" column="ORDERDATE"/>
		<result property="rn" column="ROWNUM"/>
	</resultMap>
	
	<resultMap type="com.kh.pmfp.admin.model.vo.AdminOrder" id="adminOrderResultSet">
		<id property="orderNo" column="ORDER_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="orderMethod" column="ORDER_METHOD" />
		<result property="receiver" column="ORDER_RECEIVER" />
		<result property="orderTel" column="ORDER_RTEL" />
		<result property="orderDate" column="ORDER_DATE" />
		<result property="orderReserveTime" column="ORDER_RESERVETIME" />
		<result property="orderPayno" column="ORDER_PAYNO" />
		<result property="orderPayPrice" column="ORDER_PAYPRICE" />
		<result property="orderStatus" column="ORDER_STATUS" />
		<result property="deliveryNo" column="DELIVERY_NO" />
		<result property="empNo" column="EMP_NO" />
		<result property="comNo" column="COM_NO" />
	</resultMap>

	<resultMap type="com.kh.pmfp.admin.model.vo.AdminSeller" id="adminSellerResultSet">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberCateg" column="MEMBER_CATEG"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberNickName" column="MEMBER_NICKNAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberEnroll" column="MEMBER_ENROLL"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="comNo" column="COM_NO"/>
		<result property="comName" column="COM_NAME"/>
		<result property="comAddress" column="COM_ADDRESS"/>
		<result property="comTel" column="COM_TEL"/>
		<result property="comLisenseNo" column="COM_LISENSENO"/>
		<result property="comStatus" column="COM_STATUS"/>
		<result property="comDate" column="COM_DATE"/>
		<result property="salesTime" column="COM_SALESTIME"/>
		<result property="comLoc" column="COM_LOCATION"/>
		<result property="comPark" column="COM_PARKING"/>
		<result property="comConfirm" column="COM_CONFIRM"/>
		<result property="rn" column="ROWNUM"/>
	</resultMap>
	
	<select id="selectMemberList" resultMap="adminMemberResultSet1">
		SELECT ROWNUM, (SELECT COUNT(*)  
					FROM ORDER_MAIN O 
					WHERE O.MEMBER_NO=M.MEMBER_NO) AS ORDERCOUNT,
					(SELECT ORDER_DATE 
					FROM (SELECT * FROM ORDER_MAIN O 
								JOIN MEMBER M ON (M.MEMBER_NO=O.MEMBER_NO)
								WHERE O.MEMBER_NO=M.MEMBER_NO 
								ORDER BY O.ORDER_DATE DESC) 
					WHERE ROWNUM=1) AS ORDERDATE,
					M.* 
		FROM MEMBER M  
		WHERE MEMBER_CATEG=0 AND MEMBER_STATUS='Y'
	</select>
	
	<select id="selectMember" resultMap="adminMemberResultSet1" parameterType="_int">
		SELECT (SELECT COUNT(*)  
					FROM ORDER_MAIN O 
					WHERE O.MEMBER_NO=M.MEMBER_NO) AS ORDERCOUNT,
					(SELECT ORDER_DATE 
					FROM (SELECT * FROM ORDER_MAIN O 
								JOIN MEMBER M ON (M.MEMBER_NO=O.MEMBER_NO)
								WHERE O.MEMBER_NO=M.MEMBER_NO 
								ORDER BY O.ORDER_DATE DESC) 
					WHERE ROWNUM=1) AS ORDERDATE,
					M.* 
		FROM MEMBER M  
		WHERE M.MEMBER_CATEG=0 AND M.MEMBER_STATUS='Y' AND M.MEMBER_NO=#{num}
	</select>
	
	<select id="selectUserOrderList" resultMap="adminOrderResultSet" parameterType="_int">
		SELECT OM.*
		FROM ORDER_MAIN OM 
		WHERE OM.MEMBER_NO=#{num}
		
	</select>
	
	<select id="selectSellerList" resultMap="adminSellerResultSet">
		SELECT M.*, C.*, ROWNUM 
		FROM MEMBER M
		JOIN COMPANY C ON (M.COM_NO=C.COM_NO)
		WHERE M.MEMBER_CATEG=1 
		AND C.COM_STATUS='Y' OR C.COM_STATUS='W' OR C.COM_STATUS='S' 
		AND C.COM_CONFIRM='Y'
	</select>
	
	<select id="selectWaitSeller" resultMap="adminSellerResultSet">
		SELECT M.*, C.*, ROWNUM 
		FROM MEMBER M
		JOIN COMPANY C ON (M.COM_NO=C.COM_NO)
		WHERE M.MEMBER_CATEG=1 AND C.COM_CONFIRM='N'
	</select>
	
	<select id="selectSeller" resultMap="adminSellerResultSet">
		SELECT M.*, C.* 
		FROM MEMBER M
		JOIN COMPANY C ON (M.COM_NO=C.COM_NO)
		WHERE M.MEMBER_CATEG=1 
		AND C.COM_NO=#{num} 
	</select>
	
<!-- 	<select id="selectNoticeList" resultMap="boardResultSet">
		SELECT ROWNUM, B.* 
		FROM BOARD B 
		JOIN MEMBER M ON (M.MEMBER_NO=B.MEMBER_NO) 
		WHERE B.BOARD_TYPE=4 AND B.BOARD_STATUS='Y'
	</select> -->
</mapper>
