<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="Coupon">
	
	<resultMap type="com.kh.pmfp.admin.model.vo.AdminCoupon" id="adminCouponResultSet">
		<id property="couponNo" column="COUPON_NO"/>
		<result property="couponName" column="COUPON_NAME"/>
		<result property="couponCateg" column="COUPON_CATEG"/>
		<result property="couponCondition" column="COUPON_CONDITION"/>
		<result property="couponCdate" column="COUPON_CDATE"/>
		<result property="couponEdate" column="COUPON_EDATE"/>
		<result property="couponRdiscount" column="COUPON_RDISCOUNT"/>
		<result property="couponPdiscount" column="COUPON_PDISCOUNT"/>
	</resultMap>
	<resultMap type="com.kh.pmfp.admin.model.vo.AdminCouponIssue" id="adminCouponIssueResultSet">
		<id property="issueNo" column="ISSUE_NO"/>
		<result property="couponNo" column="COUPON_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="issueCdate" column="ISSUE_CDATE"/>
		<result property="issueEdate" column="ISSUE_EDATE"/>
		<result property="issueStatus" column="ISSUE_STATUS"/>
		<result property="orderNo" column="ORDER_NO"/>
	</resultMap>
	<resultMap type="com.kh.pmfp.admin.model.vo.AdminCouponIssue2" id="adminCouponIssueResultSet2">
		<id property="issueNo" column="ISSUE_NO"/>
		<result property="couponNo" column="COUPON_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="issueCdate" column="ISSUE_CDATE"/>
		<result property="issueEdate" column="ISSUE_EDATE"/>
		<result property="issueStatus" column="ISSUE_STATUS"/>
		<result property="orderNo" column="ORDER_NO"/>
		<result property="couponName" column="COUPON_NAME"/>
		<result property="couponCateg" column="COUPON_CATEG"/>
		<result property="couponCondition" column="COUPON_CONDITION"/>
		<result property="couponCdate" column="COUPON_CDATE"/>
		<result property="couponEdate" column="COUPON_EDATE"/>
		<result property="couponRdiscount" column="COUPON_RDISCOUNT"/>
		<result property="couponPdiscount" column="COUPON_PDISCOUNT"/>
	</resultMap>
	<resultMap type="com.kh.pmfp.common.model.vo.Member" id="memberResultSet">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberCateg" column="MEMBER_CATEG"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberNickName" column="MEMBER_NICKNAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberEnroll" column="MEMBER_ENROLL"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="comNo" column="COM_NO"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM COUPON
	</select>
	
	
	<select id="selectSearchCouponList" resultMap="adminCouponResultSet">
		SELECT *
		FROM COUPON 
		ORDER BY COUPON_NO DESC
	</select>
	
	<insert id="insertCreateCoupon" parameterType="AdminCoupon">
		INSERT
		INTO COUPON
		VALUES (SEQ_CPNO.NEXTVAL,#{couponName},#{couponCateg},#{couponCondition},SYSDATE,#{couponEdate},#{couponRdiscount},#{couponPdiscount})
		
	</insert>
	
	<select id="selectListCouponName" resultMap="adminCouponResultSet" parameterType="AdminCoupon">
		SELECT *
		FROM COUPON 
		WHERE COUPON_NAME LIKE '%'||#{couponName}||'%'
	</select>
	
	<select id="selectListCouponCode" resultMap="adminCouponResultSet" parameterType="AdminCoupon">
		SELECT * 
		FROM COUPON
		WHERE COUPON_NO LIKE '%'||#{couponNo}||'%'
	</select>
	
	<select id="selectcouponNameCount" resultType="_int" parameterType="AdminCoupon">
		SELECT COUNT(*)
		FROM COUPON 
		WHERE COUPON_NAME LIKE '%'||#{couponName}||'%'
	</select>
	
	<select id="selectCouponCodeCount" resultType="_int" parameterType="AdminCoupon" >
		SELECT COUNT(*) 
		FROM COUPON
		WHERE COUPON_NO LIKE '%'||#{couponNo}||'%'
	</select>
	
	<select id="selectIssuingCouponCount" resultType="_int">
		SELECT COUNT(*)
		FROM COUPON_ISSUE
	
	</select>
	
	<select id="selectIssuingCouponAllList" resultMap="adminCouponIssueResultSet2">
		SELECT *
		FROM COUPON_ISSUE CS 
        JOIN COUPON C ON (CS.COUPON_NO=C.COUPON_NO)
		ORDER BY ISSUE_NO DESC
	</select>
	
	<!-- 발급쿠폰 검색-쿠폰코드 -->
	<select id="selectIssuingCouponCode" parameterType="AdminCouponIssue2" resultMap="adminCouponIssueResultSet2">
		SELECT *
		FROM COUPON_ISSUE CS 
        JOIN COUPON C ON (CS.COUPON_NO=C.COUPON_NO)
		WHERE C.COUPON_NO LIKE '%'||#{couponNo}||'%'
	
	</select>
	
	<!-- 발급쿠폰 검색-쿠폰코드 Count -->
	<select id="selectlssuingCouponCodeCount" parameterType="AdminCouponIssue2" resultType="_int">
		SELECT COUNT(*)
		FROM COUPON_ISSUE CS 
        JOIN COUPON C ON (CS.COUPON_NO=C.COUPON_NO)
		WHERE C.COUPON_NO LIKE '%'||#{couponNo}||'%'
	
	</select>
	
	<!-- 발급쿠폰 검색 -이름  -->
	<select id="selectIssuingCouponName"  parameterType="AdminCouponIssue2" resultMap="adminCouponIssueResultSet2">
		SELECT *
		FROM COUPON_ISSUE CS 
        JOIN COUPON C ON (CS.COUPON_NO=C.COUPON_NO)
		WHERE C.COUPON_NAME LIKE '%'||#{couponName}||'%'
	</select>
	
	<!-- 발급쿠폰 검색 -이름  Count-->
	<select id="selectlssuingCouponCodeName" parameterType="AdminCouponIssue2" resultType="_int">
		SELECT COUNT(*)
		FROM COUPON_ISSUE CS 
        JOIN COUPON C ON (CS.COUPON_NO=C.COUPON_NO)
		WHERE C.COUPON_NAME LIKE '%'||#{couponName}||'%'
	</select>
	
	
	<!-- 발급-모든 쿠폰 불러오기 -->
	<select id="selectAllCouponList" resultMap="adminCouponResultSet">
		SELECT *
		FROM COUPON
	</select>
	
	
 </mapper>