<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
	<resultMap type="com.kh.pmfp.customer.model.vo.Board"
		id="boardResultSet">
		<id property="boardNo" column="BOARD_NO" />
		<result property="boardType" column="BOARD_TYPE" />
		<result property="boardCateg" column="BOARD_CATEG" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardCount" column="BOARD_COUNT" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="boardDate" column="BOARD_DATE" />
		<result property="boardLevel" column="BOARD_LEVEL" />
		<result property="boardRefNo" column="BOARD_REFNO" />
		<result property="boardStatus" column="BOARD_STATUS" />
		<result property="boardAnswer" column="BOARD_ANSWER" />
		<result property="boardComNo" column="BOARD_COMNO" />
		<result property="rownum" column="ROWNUM" />
		<result property="imgNo" column="IMG_NO" />
		<result property="imgCateg" column="IMG_CATEG" />
		<result property="imgFilepath" column="IMG_FILEPATH" />
		<result property="imgChangeName" column="IMG_CHANGENAME" />
		<result property="imgStatus" column="IMG_STATUS" />
	</resultMap>

	
	<!-- boardDaoimpl에 쓴 board.####나타냄 --> 
	<select id="selectfaqOrder" resultMap="boardResultSet">
		select
		ROWNUM, BOARD_NO,BOARD_TYPE,BOARD_CATEG,BOARD_TITLE,BOARD_CONTENT,BOARD_COUNT,MEMBER_NO,BOARD_DATE,BOARD_LEVEL,
		BOARD_REFNO,BOARD_STATUS,BOARD_ANSWER,BOARD_COMNO from board 
		where board_type =2 and board_status='Y'
	</select>
	<!-- qna작성 -->
	<insert id="insertqna" parameterType="Board">
		INSERT INTO BOARD VALUES (SEQ_BONO.NEXTVAL, 3, #{boardCateg}, #{boardTitle},
		#{boardContent}, DEFAULT, #{memberNo}, SYSDATE, 1, NULL, DEFAULT, 'N', NULL) 
	</insert>
		<!-- qna 수정등록 -->
	 <update id="qnaUpdateC" parameterType="Board">
		 UPDATE BOARD SET BOARD_CATEG=#{boardCateg},BOARD_TITLE=#{boardContent},BOARD_CONTENT=#{boardContent}
		WHERE BOARD_NO=#{boardNo}
	</update>  
	<!-- qna수정 -->
	<select id="updateqna2" resultMap="boardResultSet" parameterType="Board">
		SELECT B.*, M.MEMBER_NAME, M.MEMBER_NICKNAME, ROWNUM  
		FROM BOARD B 
		JOIN MEMBER M ON (B.MEMBER_NO=M.MEMBER_NO) 
		WHERE B.BOARD_NO=#{boardNo} AND B.BOARD_STATUS='Y'
	
	</select>
	
	<!-- qna 글 수  -->
	<select id="selectQnaCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE BOARD_TYPE=3 AND BOARD_LEVEL=1 AND BOARD_STATUS='Y'
	</select>
	<!-- 조회수증가 -->
	<update id="updateBoardCount" parameterType="_int">
	UPDATE BOARD SET BOARD_COUNT=(SELECT BOARD_COUNT FROM BOARD WHERE BOARD_NO=#{num})+1
	WHERE BOARD_NO=#{num} AND BOARD_STATUS='Y'
	</update
	>
	<!-- qna리스트 -->
	<select id="selectqnaList" resultMap="boardResultSet">
		select
			ROWNUM, B.BOARD_NO, B.BOARD_TYPE, B.BOARD_CATEG, B.BOARD_TITLE, B.BOARD_CONTENT, B.BOARD_COUNT, 
			B.MEMBER_NO, B.BOARD_DATE, B.BOARD_LEVEL, M.MEMBER_NICKNAME, 
			B.BOARD_REFNO, B.BOARD_STATUS,B. BOARD_ANSWER, B.BOARD_COMNO 
		from board B
		JOIN MEMBER M ON (M.MEMBER_NO=B.MEMBER_NO)
		where B.board_type =3 and B.board_status='Y' AND B.BOARD_LEVEL=1 
        ORDER BY B.BOARD_DATE DESC, B.BOARD_NO DESC
	</select>
	
	<!-- qna삭제 -->
	 <update id="deleteqna"  parameterType="_int">
	UPDATE BOARD SET BOARD_STATUS='N' WHERE BOARD_NO=#{boardNo}
	</update>  
	
	<!-- qna상세보기 -->
	<select id="selectQna" resultMap="boardResultSet" parameterType="_int">
		SELECT B.*, M.MEMBER_NAME, M.MEMBER_NICKNAME, ROWNUM  
		FROM BOARD B 
		JOIN MEMBER M ON (B.MEMBER_NO=M.MEMBER_NO) 
		WHERE B.BOARD_NO=#{boardNo} AND B.BOARD_STATUS='Y'
	</select>
	
	<!-- qna답변보기 -->
	<select id="selectAnswer" resultMap="boardResultSet"  parameterType="_int">
		SELECT B.*, M.MEMBER_NAME, M.MEMBER_NICKNAME
		FROM BOARD B 
		JOIN MEMBER M ON (B.MEMBER_NO=M.MEMBER_NO) 
		WHERE B.BOARD_REFNO=#{boardNo} AND B.BOARD_STATUS='Y'AND B.BOARD_LEVEL=2
	</select>
	
	<!-- reviewList -->
	<select id="selectReviewList" resultMap="boardResultSet">
		select
			ROWNUM, B.BOARD_NO, B.BOARD_TYPE, B.BOARD_CATEG, B.BOARD_TITLE, B.BOARD_CONTENT, B.BOARD_COUNT, 
			B.MEMBER_NO, B.BOARD_DATE, B.BOARD_LEVEL, M.MEMBER_NICKNAME, 
			B.BOARD_REFNO, B.BOARD_STATUS,B. BOARD_ANSWER, B.BOARD_COMNO 
		from board B
		JOIN MEMBER M ON (M.MEMBER_NO=B.MEMBER_NO)
		where B.board_type =1 and B.board_status='Y' AND B.BOARD_LEVEL=1 
        ORDER BY B.BOARD_DATE DESC, B.BOARD_NO DESC
	</select>
	<!-- review작성 -->
	<insert id="insertreview" parameterType="Board">
		INSERT INTO BOARD VALUES (SEQ_BONO.NEXTVAL,1,NULL, #{boardTitle},#{boardContent},DEFAULT,#{memberNo},SYSDATE,1
		,NULL,DEFAULT,DEFAULT,NULL)
	</insert>
	<!--  리뷰파일-->
	<insert id="insertFile" parameterType="Image">
	INSERT INTO IMAGE VALUES (SEQ_IMGNO.NEXTVAL, 1,#{imgOriginname},#{imgChangename},#{imgFilepath},SYSDATE,DEFUALT,SEQ_BONO.CURRVAL,NULL,NULL,NULL,NULL)
	
	
	</insert>
	
	
	
	<!-- review 수정등록 -->
	 <update id="reviewUpdateC" parameterType="Board">
		 UPDATE BOARD SET BOARD_TITLE=#{boardContent},BOARD_CONTENT=#{boardContent},
		 
		WHERE BOARD_NO=#{boardNo}
	</update>  
	<!-- review수정 -->
	<select id="updateReview" resultMap="boardResultSet" parameterType="Board">
		SELECT B.*, M.MEMBER_NAME, M.MEMBER_NICKNAME, ROWNUM  
		FROM BOARD B 
		JOIN MEMBER M ON (B.MEMBER_NO=M.MEMBER_NO) 
		WHERE B.BOARD_NO=#{boardNo} AND B.BOARD_STATUS='Y'
	</select>
	<!-- review삭제 -->
	 <update id="deleteReview"  parameterType="_int">
	UPDATE BOARD SET BOARD_STATUS='N' WHERE BOARD_NO=#{boardNo}
	</update>  
	
	<!-- review상세보기 -->
	<select id="selectReview" resultMap="boardResultSet" parameterType="_int">
		SELECT B.*, M.MEMBER_NAME, M.MEMBER_NICKNAME, ROWNUM  
		FROM BOARD B 
		JOIN MEMBER M ON (B.MEMBER_NO=M.MEMBER_NO) 
		WHERE B.BOARD_NO=#{boardNo} AND B.BOARD_STATUS='Y'
	</select>
	
	
	
	<!-- 후기댓글 작성-->
	<insert id="insertReply" parameterType="Board">
		INSERT INTO BOARD VALUES(SEQ_BONO.NEXTVAL,1,NULL, ' ',#{boardContent},DEFAULT,#{memberNo},SYSDATE,2
		,#{boardRefNo},DEFAULT,DEFAULT,NULL)
	</insert> 
	<select id="selectReviewAnswerList" resultMap="boardResultSet" parameterType="_int">
	SELECT * FROM BOARD B
	INNER JOIN MEMBER M ON(B.MEMBER_NO=M.MEMBER_NO)
	WHERE B.BOARD_REFNO= #{boardRefNo} AND B.BOARD_TYPE=1
	</select>
	
	<!-- 댓글 목록 조회 -->
	<select id="selectReviewReplyList" resultMap="boardResultSet" parameterType="_int">
		SELECT B.*, M.MEMBER_NAME, M.MEMBER_NICKNAME FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_NO=M.MEMBER_NO)
		WHERE B.BOARD_REFNO= #{boardRefNo} AND B.BOARD_TYPE=1
		
	</select>

</mapper>




















