<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Company">
	<resultMap type="com.kh.pmfp.company.model.vo.CompanyBoard"
		id="companyBoardResultSet">
		<id property="boardNo" column="BOARD_NO" />
		<result property="boardType" column="BOARD_TYPE" />
		<result property="boardCateG" column="BOARD_CATEG" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardCount" column="BOARD_COUNT" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="boardDate" column="BOARD_DATE" />
		<result property="boardLevel" column="BOARD_LEVEL" />
		<result property="comboardRefno" column="BOARD_REFNO" />
		<result property="boardStatus" column="BOARD_STATUS" />
	</resultMap>

	<resultMap type="com.kh.pmfp.company.model.vo.CompanyOrder"
		id="companyOrderResultSet">
		<id property="orderNo" column="ORDER_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="orderMethod" column="ORDER_METHOD" />
		<result property="receiver" column="ORDER_RECEIVER" />
		<result property="orderTel" column="ORDER_RTEL" />
		<result property="orderDate" column="ORDER_DATE" />
		<result property="orderReserveTime" column="ORDER_RESERVETIME" />
		<result property="orderPayno" column="ORDER_PAYNO" />
		<result property="orderPayPrice" column="ORDER_PAYPRICE" />
		<result property="orderStatus" column="ORDER_STATUS" />
		<result property="deliveryNo" column="DELIVERY_NO" />
		<result property="empNo" column="EMP_NO" />
		<result property="comNo" column="COM_NO" />
		<result property="deliveryAddress" column="DELIVERY_ADDRESS" />
		<result property="deliveryName" column="DELIVERY_NAME" />
		<result property="addTopping" column="ADDTOPPING" />
	</resultMap>
	
	
	<resultMap type="com.kh.pmfp.company.model.vo.CompanyEmployee" id="companyEmployeeResultSet">
		<id property="employeeNo" column="EMP_NO" />
		<result property="companyNo" column="COM_NO" />
		<result property="employeeName" column="EMP_NAME" />
		<result property="employeePhone" column="EMP_TEL" />
		<result property="employeeStatus" column="EMP_STATUS" />
		<result property="employeeRank" column="EMP_RANK" />
		<result property="employeeDate" column="EMP_DATE" />
		<result property="employeeAddress" column="EMP_ADDRESS" />
		<result property="empDeliveryStatus" column="EMP_DELIVERYSTATUS" />
		<result property="empDeliveryONo" column="EMP_DELIVERINGONO" />
	</resultMap>
	
	<resultMap type="com.kh.pmfp.company.model.vo.CompanyBoard"
		id="companyReviewBoardResultSet">
		<id property="boardNo" column="BOARD_NO" />
		<result property="boardType" column="BOARD_TYPE" />
		<result property="boardCateG" column="BOARD_CATEG" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardCount" column="BOARD_COUNT" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="boardDate" column="BOARD_DATE" />
		<result property="boardLevel" column="BOARD_LEVEL" />
		<result property="comboardRefno" column="BOARD_REFNO" />
		<result property="boardStatus" column="BOARD_STATUS" />
		<result property="boardAnswer" column="BOARD_ANSWER" />
		<result property="boardComNo" column="BOARD_COMNO" />
		<result property="memberName" column="MEMBER_ID" />
	</resultMap>
	
	<resultMap type="com.kh.pmfp.company.model.vo.CompanyMaterial"
		id="companyMaterialResultSet">
		<id property="materialNo" column="MATERIAL_NO" />
		<result property="materialName" column="MATERIAL_NAME" />
		<result property="materialSize" column="MATERIAL_SIZE" />
		<result property="materialWeight" column="MATERIAL_WEIGHT" />
		<result property="materialBuyPrice" column="MATERIAL_BUYPRICE" />
		<result property="materialSellPrice" column="MATERIAL_SELLPRICE" />
		<result property="materialStatus" column="MATERIAL_STATUS" />
	</resultMap>
	
	<resultMap type="com.kh.pmfp.company.model.vo.CompanyOrderStock"
		id="companyOrderStockResultSet">
		<id property="orderMNo" column="ORDER_MNO" />
		<result property="comNo" column="COM_NO" />
		<result property="materialNo" column="MATERIAL_NO" />
		<result property="orderMDate" column="ORDER_MDATE" />
		<result property="orderMStatus" column="ORDER_MSTATUS" />
		<result property="orderMCalculate" column="ORDER_CALCULATE" />
		<result property="orderExpenseNo" column="ORDEREXPENSE_NO" />
		<result property="materialWeight" column="MATERIAL_WEIGHT" />
		<result property="materialPrice" column="MATERIAL_PRICE" />
		<result property="materialName" column="MATERIAL_NAME" />
	</resultMap>
	
	
	<resultMap type="com.kh.pmfp.company.model.vo.CompanyRemainMaterial"
		id="companyRemainMaterialResultSet">
		<id property="stockNo" column="STOCK_NO" />
		<result property="materialNo" column="MATERIAL_NO" />
		<result property="comNo" column="COM_NO" />
		<result property="stockWeight" column="STOCK_WEIGHT" />
		<result property="materialName" column="MATERIAL_NAME" />
	</resultMap>
	
	
	<resultMap type="com.kh.pmfp.company.model.vo.CompanySales"
		id="companySalesResultSet">
		<id property="salesNo" column="SALES_NO" />
		<result property="comNo" column="COM_NO" />
		<result property="salesInputdate" column="SALES_INPUTDATE" />
		<result property="salesCateg" column="SALES_CATEG" />
		<result property="expenseNo" column="EXPENSE_NO" />
		<result property="orderNo" column="ORDER_NO" />
		<result property="salesPrice" column="SALES_PRICE" />
	</resultMap>
	
	<resultMap type="com.kh.pmfp.company.model.vo.CompanySalesList"
		id="companySalesListResultSet">
		<id property="salesNo" column="SALES_NO" />
		<result property="comNo" column="COM_NO" />
		<result property="salesInputdate" column="SALES_INPUTDATE" />
		<result property="salesCateg" column="SALES_CATEG" />
		<result property="expenseNo" column="EXPENSE_NO" />
		<result property="orderNo" column="ORDER_NO" />
		<result property="salesPrice" column="SALES_PRICE" />
		<result property="materialWeight" column="MATERIAL_WEIGHT" />
		<result property="materialPrice" column="MATERIAL_PRICE" />
		<result property="materialName" column="MATERIAL_NAME" />
		<result property="addTopping" column="ADDTOPPING" />
	</resultMap>

	<select id="selectAdminMessage"
		resultMap="companyBoardResultSet">
		SELECT BOARD_NO, BOARD_TYPE, BOARD_CATEG, BOARD_TITLE, BOARD_CONTENT, BOARD_COUNT,MEMBER_NO, BOARD_DATE, BOARD_LEVEL, BOARD_REFNO,  BOARD_STATUS   
		FROM BOARD
		WHERE BOARD_TYPE = 4
		AND BOARD_STATUS = 'Y'
	</select>

	<select id="detailAdminMessage"
		resultMap="companyBoardResultSet" parameterType="_int">
		SELECT BOARD_NO, BOARD_TYPE, BOARD_CATEG, BOARD_TITLE, BOARD_CONTENT, BOARD_COUNT,MEMBER_NO, BOARD_DATE, BOARD_LEVEL, BOARD_REFNO,  BOARD_STATUS
		FROM BOARD
		WHERE BOARD_TYPE = 4
		AND BOARD_STATUS = 'Y'
		AND BOARD_NO = #{boardNo}
	</select>

	<select id="orderWaiting" resultMap="companyOrderResultSet">
		SELECT OM.ORDER_NO,
		OM.MEMBER_NO, OM.ORDER_METHOD, OM.ORDER_RECEIVER, OM.ORDER_RTEL,
		OM.ORDER_DATE, OM.ORDER_RESERVETIME, OM.ORDER_PAYNO,
		OM.ORDER_PAYPRICE,
		OM.ORDER_STATUS, OM.DELIVERY_NO, OM.EMP_NO, OM.COM_NO, DE.DELIVERY_ADDRESS,
		DE.DELIVERY_NAME, LISTAGG(CAST(M.MATERIAL_NAME || 'x' ||
		M.MATERIAL_WEIGHT || 'g' AS VARCHAR(300)) , ', ') WITHIN GROUP(ORDER
		BY M.MATERIAL_NAME) ADDTOPPING
		FROM ORDER_MAIN OM
		JOIN DELIVERY DE
		ON(OM.MEMBER_NO = DE.MEMBER_NO)
		JOIN ORDER_ITEM OI
		ON(OI.ORDER_NO = OM.ORDER_NO)
		JOIN ORDER_TOPPING OT
		ON(OT.ORDER_INO = OI.ORDER_INO)
		JOIN MATERIAL M
		ON(M.MATERIAL_NO = OT.MATERIAL_NO)
		WHERE ORDER_STATUS = 1
		GROUP BY OM.ORDER_NO, OM.MEMBER_NO, OM.ORDER_METHOD, OM.ORDER_RECEIVER,
		OM.ORDER_RTEL, OM.ORDER_DATE, OM.ORDER_RESERVETIME, OM.ORDER_PAYNO,
		OM.ORDER_PAYPRICE,
		OM.ORDER_STATUS, OM.DELIVERY_NO, OM.EMP_NO, OM.COM_NO, DE.DELIVERY_ADDRESS,
		DE.DELIVERY_NAME
	</select>

<select id="orderMaking" resultMap="companyOrderResultSet">
		SELECT OM.ORDER_NO,
		OM.MEMBER_NO, OM.ORDER_METHOD, OM.ORDER_RECEIVER, OM.ORDER_RTEL,
		OM.ORDER_DATE, OM.ORDER_RESERVETIME, OM.ORDER_PAYNO,
		OM.ORDER_PAYPRICE,
		OM.ORDER_STATUS, OM.DELIVERY_NO, OM.EMP_NO, OM.COM_NO, DE.DELIVERY_ADDRESS,
		DE.DELIVERY_NAME, LISTAGG(CAST(M.MATERIAL_NAME || 'x' ||
		M.MATERIAL_WEIGHT || 'g' AS VARCHAR(300)) , ', ') WITHIN GROUP(ORDER
		BY M.MATERIAL_NAME) ADDTOPPING
		FROM ORDER_MAIN OM
		JOIN DELIVERY DE
		ON(OM.MEMBER_NO = DE.MEMBER_NO)
		JOIN ORDER_ITEM OI
		ON(OI.ORDER_NO = OM.ORDER_NO)
		JOIN ORDER_TOPPING OT
		ON(OT.ORDER_INO = OI.ORDER_INO)
		JOIN MATERIAL M
		ON(M.MATERIAL_NO = OT.MATERIAL_NO)
		WHERE ORDER_STATUS = 2
		GROUP BY OM.ORDER_NO, OM.MEMBER_NO, OM.ORDER_METHOD, OM.ORDER_RECEIVER,
		OM.ORDER_RTEL, OM.ORDER_DATE, OM.ORDER_RESERVETIME, OM.ORDER_PAYNO,
		OM.ORDER_PAYPRICE,
		OM.ORDER_STATUS, OM.DELIVERY_NO, OM.EMP_NO, OM.COM_NO, DE.DELIVERY_ADDRESS,
		DE.DELIVERY_NAME
	</select>
	
	<select id="orderDelivering" resultMap="companyOrderResultSet">
		SELECT OM.ORDER_NO,
		OM.MEMBER_NO, OM.ORDER_METHOD, OM.ORDER_RECEIVER, OM.ORDER_RTEL,
		OM.ORDER_DATE, OM.ORDER_RESERVETIME, OM.ORDER_PAYNO,
		OM.ORDER_PAYPRICE,
		OM.ORDER_STATUS, OM.DELIVERY_NO, OM.EMP_NO, OM.COM_NO, DE.DELIVERY_ADDRESS,
		DE.DELIVERY_NAME, LISTAGG(CAST(M.MATERIAL_NAME || 'x' ||
		M.MATERIAL_WEIGHT || 'g' AS VARCHAR(300)) , ', ') WITHIN GROUP(ORDER
		BY M.MATERIAL_NAME) ADDTOPPING
		FROM ORDER_MAIN OM
		JOIN DELIVERY DE
		ON(OM.MEMBER_NO = DE.MEMBER_NO)
		JOIN ORDER_ITEM OI
		ON(OI.ORDER_NO = OM.ORDER_NO)
		JOIN ORDER_TOPPING OT
		ON(OT.ORDER_INO = OI.ORDER_INO)
		JOIN MATERIAL M
		ON(M.MATERIAL_NO = OT.MATERIAL_NO)
		WHERE ORDER_STATUS = 3
		GROUP BY OM.ORDER_NO, OM.MEMBER_NO, OM.ORDER_METHOD, OM.ORDER_RECEIVER,
		OM.ORDER_RTEL, OM.ORDER_DATE, OM.ORDER_RESERVETIME, OM.ORDER_PAYNO,
		OM.ORDER_PAYPRICE,
		OM.ORDER_STATUS, OM.DELIVERY_NO, OM.EMP_NO, OM.COM_NO, DE.DELIVERY_ADDRESS,
		DE.DELIVERY_NAME
	</select>
	
	<select id="orderComplete" resultMap="companyOrderResultSet">
		SELECT OM.ORDER_NO,
		OM.MEMBER_NO, OM.ORDER_METHOD, OM.ORDER_RECEIVER, OM.ORDER_RTEL,
		OM.ORDER_DATE, OM.ORDER_RESERVETIME, OM.ORDER_PAYNO,
		OM.ORDER_PAYPRICE,
		OM.ORDER_STATUS, OM.DELIVERY_NO, OM.EMP_NO, OM.COM_NO, DE.DELIVERY_ADDRESS,
		DE.DELIVERY_NAME, LISTAGG(CAST(M.MATERIAL_NAME || 'x' ||
		M.MATERIAL_WEIGHT || 'g' AS VARCHAR(300)) , ', ') WITHIN GROUP(ORDER
		BY M.MATERIAL_NAME) ADDTOPPING
		FROM ORDER_MAIN OM
		JOIN DELIVERY DE
		ON(OM.MEMBER_NO = DE.MEMBER_NO)
		JOIN ORDER_ITEM OI
		ON(OI.ORDER_NO = OM.ORDER_NO)
		JOIN ORDER_TOPPING OT
		ON(OT.ORDER_INO = OI.ORDER_INO)
		JOIN MATERIAL M
		ON(M.MATERIAL_NO = OT.MATERIAL_NO)
		WHERE ORDER_STATUS = 4
		GROUP BY OM.ORDER_NO, OM.MEMBER_NO, OM.ORDER_METHOD, OM.ORDER_RECEIVER,
		OM.ORDER_RTEL, OM.ORDER_DATE, OM.ORDER_RESERVETIME, OM.ORDER_PAYNO,
		OM.ORDER_PAYPRICE,
		OM.ORDER_STATUS, OM.DELIVERY_NO, OM.EMP_NO, OM.COM_NO, DE.DELIVERY_ADDRESS,
		DE.DELIVERY_NAME
	</select>


	<select id="orderRefuseList" resultMap="companyOrderResultSet">
		SELECT OM.ORDER_NO,
		OM.MEMBER_NO, OM.ORDER_METHOD, OM.ORDER_RECEIVER, OM.ORDER_RTEL,
		OM.ORDER_DATE, OM.ORDER_RESERVETIME, OM.ORDER_PAYNO,
		OM.ORDER_PAYPRICE,
		OM.ORDER_STATUS, OM.DELIVERY_NO, OM.EMP_NO, OM.COM_NO, DE.DELIVERY_ADDRESS,
		DE.DELIVERY_NAME, LISTAGG(CAST(M.MATERIAL_NAME || 'x' ||
		M.MATERIAL_WEIGHT || 'g' AS VARCHAR(300)) , ', ') WITHIN GROUP(ORDER
		BY M.MATERIAL_NAME) ADDTOPPING
		FROM ORDER_MAIN OM
		JOIN DELIVERY DE
		ON(OM.MEMBER_NO = DE.MEMBER_NO)
		JOIN ORDER_ITEM OI
		ON(OI.ORDER_NO = OM.ORDER_NO)
		JOIN ORDER_TOPPING OT
		ON(OT.ORDER_INO = OI.ORDER_INO)
		JOIN MATERIAL M
		ON(M.MATERIAL_NO = OT.MATERIAL_NO)
		WHERE ORDER_STATUS = 5
		GROUP BY OM.ORDER_NO, OM.MEMBER_NO, OM.ORDER_METHOD, OM.ORDER_RECEIVER,
		OM.ORDER_RTEL, OM.ORDER_DATE, OM.ORDER_RESERVETIME, OM.ORDER_PAYNO,
		OM.ORDER_PAYPRICE,
		OM.ORDER_STATUS, OM.DELIVERY_NO, OM.EMP_NO, OM.COM_NO, DE.DELIVERY_ADDRESS,
		DE.DELIVERY_NAME
	</select>



	<update id="acceptOrder" parameterType="_int">
		UPDATE ORDER_MAIN 
		SET ORDER_STATUS = 2 
		WHERE ORDER_NO = #{orderNoInt}
	</update>
	
	<update id="refuseOrder" parameterType="_int">
		UPDATE ORDER_MAIN 
		SET ORDER_STATUS = 5 
		WHERE ORDER_NO = #{orderNoInt}
	</update>
	
	<select id="remainDeliveryMan" resultMap="companyEmployeeResultSet" parameterType="_int">
		SELECT * 
		FROM EMPLOYEE 
		WHERE EMP_RANK = 'delivery'
		AND COM_NO = #{ comNo }
	</select>

	<update id="deliveryManUpdate" >
		UPDATE EMPLOYEE 
		SET EMP_DELIVERYSTATUS = 'N', EMP_DELIVERINGONO =  #{empDeliveryONo} 
		WHERE EMP_NO =  #{employeeNo}
	</update>
	
	<update id="orderUpdate">
		UPDATE ORDER_MAIN 
		SET ORDER_STATUS = 3 
		WHERE ORDER_NO = #{orderNoInt}
	</update>
	
	<update id="orderUpdateToComplete">
		UPDATE ORDER_MAIN 
		SET ORDER_STATUS = 4 
		WHERE ORDER_NO = #{orderNoInt}
	</update>
	
	<update id="returnDeliveryMan">
		UPDATE EMPLOYEE 
		SET EMP_DELIVERYSTATUS = 'Y', EMP_DELIVERINGONO = 0 
		WHERE EMP_DELIVERINGONO = #{orderNoInt}
	</update>

	<update id="orderUpdateToDelete">
		UPDATE ORDER_MAIN 
		SET ORDER_STATUS = 5 
		WHERE ORDER_NO = #{orderNoInt}
	</update>
	
	<update id="refuseListDelete">
		UPDATE ORDER_MAIN 
		SET ORDER_STATUS = 6 
		WHERE ORDER_NO = #{orderNoInt}
	</update>

	<select id="selectEmployeeList" resultMap="companyEmployeeResultSet">
		SELECT *
		FROM EMPLOYEE
		WHERE COM_NO = #{ comNo }
	</select>
	
	<insert id="inputEmployeeInfo">
		INSERT INTO EMPLOYEE 
		VALUES(SEQ_EMPNO.NEXTVAL, 2, #{ employeeName }, #{ employeePhone }, 'Y', #{employeeRank}, #{employeeDate}, #{employeeAddress}, NULL, NULL)
	</insert>


	<update id="deleteEmployeeInfo" parameterType="java.util.List">
		UPDATE EMPLOYEE 
		SET EMP_STATUS = 'N' 
		WHERE EMP_NO IN
		<foreach collection="list" item = "item" index="index" separator="," open="(" close=")">
		 #{item.value}
		</foreach>
	</update>
	
	
	<select id="selectCompanyReview" resultMap="companyReviewBoardResultSet" parameterType="_int">
		SELECT B.BOARD_NO, B.BOARD_TYPE, B.BOARD_CATEG, B.BOARD_TITLE, B.BOARD_CONTENT, B.BOARD_COUNT, B.MEMBER_NO, B.BOARD_DATE, 
		B.BOARD_LEVEL, B.BOARD_REFNO,  B.BOARD_STATUS, B.BOARD_ANSWER, B.BOARD_COMNO, M.MEMBER_ID
		FROM BOARD B
		JOIN MEMBER M
		ON (B.MEMBER_NO = M.MEMBER_NO)
		WHERE BOARD_TYPE = 1
		AND BOARD_COMNO = #{comNo}
	</select>
	
	<select id="orderStrok" resultMap="companyMaterialResultSet">
		SELECT MATERIAL_NO, MATERIAL_NAME , MATERIAL_SIZE, MATERIAL_WEIGHT, MATERIAL_BUYPRICE, MATERIAL_SELLPRICE, MATERIAL_STATUS
		FROM MATERIAL
		WHERE MOD(MATERIAL_NO, 2) = 1
		AND MATERIAL_STATUS = 'Y'
	</select>
	
	
	<!-- <insert id="applyStock"  parameterType="java.util.List">
		<foreach collection="list" item = "item" index = "index">
			INSERT INTO ORDER_MATERIAL
			VALUES(SEQ_ODMATNO.NEXTVAL, #{item.comNo}, #{item.materialNo}, SYSDATE, 1, 'N', 1, #{item.materialWeight}, #{item.materialPrice})
		</foreach>
	</insert> -->
	<insert id="applyStock">
		INSERT INTO ORDER_MATERIAL
		VALUES(SEQ_ODMATNO.NEXTVAL, #{comNo}, #{materialNo}, SYSDATE, 1, 'N', 1, #{materialWeight}, #{materialPrice})
	</insert>
	
	<insert id="applyStockAndAddExpense">
		INSERT INTO EXPENSE
		VALUES(SEQ_EXPNO.NEXTVAL, 2, #{materialPrice}, NULL , SEQ_ODMATNO.CURRVAL)
	</insert>
	
	<update id="applyStockAndUpdateStockList">
		UPDATE STOCK 
		SET STOCK_WEIGHT  = (SELECT STOCK_WEIGHT FROM STOCK WHERE MATERIAL_NO = #{materialNo}) + #{materialWeight} 
		WHERE MATERIAL_NO = #{materialNo} 
		AND COM_NO = #{comNo}
	</update>
	
	
	<insert id="applyStockAndInsertSales">
		INSERT INTO SALES 
		VALUES(SEQ_SALESNO.NEXTVAL, #{comNo}, SYSDATE, 0, SEQ_EXPNO.CURRVAL, NULL, #{materialPrice})
	</insert>
	
	
	<select id="selectOrderStockList" resultMap="companyOrderStockResultSet">
		SELECT OM.ORDER_MNO, OM.COM_NO, OM.MATERIAL_NO, OM.ORDER_MDATE, OM.ORDER_MSTATUS, OM.ORDER_CALCULATE, 
		OM.ORDEREXPENSE_NO, OM.MATERIAL_WEIGHT, OM.MATERIAL_PRICE, M.MATERIAL_NAME
		FROM ORDER_MATERIAL OM
		JOIN MATERIAL M
		ON(OM.MATERIAL_NO = M.MATERIAL_NO)
		WHERE OM.COM_NO = #{comNo}
	</select>
	
	
	<update id="receiptConfirm" parameterType="java.util.List">
		UPDATE ORDER_MATERIAL
		SET ORDER_MSTATUS = 2
		WHERE ORDER_MNO IN
		<foreach collection="list" item = "item" index = "index" open = "(" close = ")" separator = ",">
			#{item.value}
		</foreach>
	</update>
	
	<select id="selectReceiptList" resultMap="companyOrderStockResultSet">
		SELECT OM.ORDER_MNO, OM.COM_NO, OM.MATERIAL_NO, OM.ORDER_MDATE, OM.ORDER_MSTATUS, OM.ORDER_CALCULATE, 
		OM.ORDEREXPENSE_NO, OM.MATERIAL_WEIGHT, OM.MATERIAL_PRICE, M.MATERIAL_NAME
		FROM ORDER_MATERIAL OM
		JOIN MATERIAL M
		ON(OM.MATERIAL_NO = M.MATERIAL_NO)
		WHERE OM.COM_NO = #{comNo}
		AND ORDER_CALCULATE = 'N'
	</select>
	
	
	<select id="selectAllMaterialList" resultMap="companyRemainMaterialResultSet">
		SELECT S.STOCK_NO, S.MATERIAL_NO, S.COM_NO, S.STOCK_WEIGHT, M.MATERIAL_NAME
		FROM STOCK S
		JOIN MATERIAL M
		ON(S.MATERIAL_NO = M.MATERIAL_NO)
		WHERE COM_NO = #{comNo}
	</select>
	
	<select id="selectAllCompanySales" resultMap="companySalesResultSet" parameterType="_int">
		SELECT SALES_NO, COM_NO, SALES_INPUTDATE, SALES_CATEG, EXPENSE_NO, ORDER_NO, SALES_PRICE
		FROM SALES
		WHERE COM_NO = #{comNo}
	</select>
	
	
	<select id="selectCompanySalesIncomeList" resultMap="companySalesListResultSet" parameterType="_int">
		SELECT  S.SALES_NO, S.COM_NO, S.SALES_INPUTDATE, S.SALES_CATEG, S.EXPENSE_NO, S.ORDER_NO, S.SALES_PRICE, LISTAGG(CAST(M.MATERIAL_NAME || 'x' ||
		M.MATERIAL_WEIGHT || 'g' AS VARCHAR(300)) , ', ') WITHIN GROUP(ORDER
		BY M.MATERIAL_NAME) ADDTOPPING
		FROM ORDER_MAIN OM
		JOIN SALES S
		ON(S.ORDER_NO = OM.ORDER_NO)
		JOIN ORDER_ITEM OI
		ON(OI.ORDER_NO = OM.ORDER_NO)
		JOIN ORDER_TOPPING OT
		ON(OT.ORDER_INO = OI.ORDER_INO)
		JOIN MATERIAL M
		ON(M.MATERIAL_NO = OT.MATERIAL_NO)
		WHERE S.COM_NO = #{comNo}
		GROUP BY S.SALES_NO, S.COM_NO, S.SALES_INPUTDATE, S.SALES_CATEG, S.EXPENSE_NO, S.ORDER_NO, S.SALES_PRICE
	</select>
	
	<select id="selectCompanySalesOutcomeList" resultMap="companySalesListResultSet" parameterType="_int">
		SELECT S.SALES_NO, S.COM_NO, S.SALES_INPUTDATE, S.SALES_CATEG, S.EXPENSE_NO, S.ORDER_NO, S.SALES_PRICE, OM.MATERIAL_WEIGHT, OM.MATERIAL_PRICE, M.MATERIAL_NAME
		FROM SALES S
		JOIN EXPENSE E
		ON(E.EXPENSE_NO = S.EXPENSE_NO)
		JOIN ORDER_MATERIAL OM
		ON(E.ORDEREXPENSE_NO = OM.ORDER_MNO)
		JOIN MATERIAL M
		ON(OM.MATERIAL_NO = M.MATERIAL_NO)
		WHERE S.COM_NO = #{comNo}
	</select>
	
	
	
	
	
	
</mapper>




















