<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CustomerOrder">
	<resultMap type="com.kh.pmfp.customer.model.vo.MaterialImage"
		id="materialResultSet">
		<id property="materialNo" column="MATERIAL_NO" />
		<result property="materialCateg" column="MATERIAL_CATEG" />
		<result property="materialName" column="MATERIAL_NAME" />
		<result property="materialSize" column="MATERIAL_SIZE" />
		<result property="materialWeight" column="MATERIAL_WEIGHT" />
		<!-- <result property="materialBuyprice" column="MATERIAL_BUYPRICE" /> -->
		<result property="materialSellprice" column="MATERIAL_SELLPRICE" />
		<result property="materialStatus" column="MATERIAL_STATUS" />
		<result property="imgNo" column="IMG_NO" />
		<result property="imgCateg" column="IMG_CATEG" />
		<result property="imgOriginname" column="IMG_ORIGINNAME" />
		<result property="imgChangename" column="IMG_CHANGENAME" />
		<result property="imgFilepath" column="IMG_FILEPATH" />
		<result property="imgUploaddate" column="IMG_UPLOADDATE" />
		<result property="imgStatus" column="IMG_STATUS" />
		<result property="boardNo" column="BOARD_NO" />
		<result property="mypizzaNo" column="MYPIZZA_NO" />
		<result property="eventNo" column="EVENT_NO" />
		<result property="basicNo" column="BASIC_NO" />
	</resultMap>
	
	<resultMap type="com.kh.pmfp.customer.model.vo.BasicMenu"
		id="basicMenuResultSet">
		<id property="basicNo" column="BASIC_NO" />
		<result property="basicSize" column="BASIC_SIZE" />
		<result property="basicMenu" column="BASIC_MENU" />
	</resultMap>

	<resultMap type="com.kh.pmfp.customer.model.vo.BasicTopping"
		id="basicToppingResultSet">
		<result property="basicNo" column="BASIC_NO" />
		<result property="materialNo" column="MATERIAL_NO" />
		<result property="basicTcount" column="BASIC_TCOUNT" />
	</resultMap>
	
	<resultMap type="com.kh.pmfp.customer.model.vo.MyPizza"
		id="myPizzaListResultSet">
		<result property="mypizzaNo" column="MYPIZZA_NO" />
		<result property="mypizzaName" column="MYPIZZA_NAME" />
		<result property="materialNo" column="MATERIAL_NO" />
		<result property="materialCateg" column="MATERIAL_CATEG" />
		<result property="orderTcount" column="ORDER_TCOUNT" />
	</resultMap>
	
	<resultMap type="com.kh.pmfp.customer.model.vo.DeliveryCompany"
		id="deliveryCompanyResultSet">
		<id property="deliveryNo" column="DELIVERY_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="comNo" column="COM_NO" />
		<result property="deliveryAddress" column="DELIVERY_ADDRESS" />
		<result property="deliveryName" column="DELIVERY_NAME" />
		<result property="deliveryStatus" column="DELIVERY_STATUS" />
		<result property="comName" column="COM_NAME" />
		<result property="comAddress" column="COM_ADDRESS" />
		<result property="comTel" column="COM_TEL" />
		<result property="comLisenseno" column="COM_LISENSENO" />
		<result property="comStatus" column="COM_STATUS" />
		<result property="comDate" column="COM_DATE" />
		<result property="comSalestime" column="COM_SALESTIME" />
		<result property="comLocation" column="COM_LOCATION" />
		<result property="comParking" column="COM_PARKING" />
		<result property="comConfirm" column="COM_CONFIRM" />
		<result property="lat" column="LAT" />
		<result property="lon" column="LON" />
	</resultMap>
	
	<resultMap type="com.kh.pmfp.customer.model.vo.OrderMain"
		id="orderMainResultMap">
		<id property="orderNo" column="ORDER_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="orderMethod" column="ORDER_METHOD" />
		<result property="orderReceiver" column="ORDER_RECEIVER" />
		<result property="orderRtel" column="ORDER_RTEL" />
		<result property="orderDate" column="ORDER_DATE" />
		<result property="orderReservetime" column="ORDER_RESERVETIME" />
		<result property="orderPayno" column="ORDER_PAYNO" />
		<result property="orderPayprice" column="ORDER_PAYPRICE" />
		<result property="orderStatus" column="ORDER_STATUS" />
		<result property="deliveryNo" column="DELIVERY_NO" />
		<result property="empNo" column="EMP_NO" />
		<result property="comNo" column="COM_NO" />
	</resultMap>
	
	<resultMap type="com.kh.pmfp.customer.model.vo.Coupon"
		id="couponResultMap">
		<id property="couponNo" column="COUPON_NO" />
		<result property="couponName" column="COUPON_NAME" />
		<result property="couponCateg" column="COUPON_CATEG" />
		<result property="couponCondition" column="COUPON_CONDITION" />
		<result property="couponCdate" column="COUPON_CDATE" />
		<result property="couponEdate" column="COUPON_EDATE" />
		<result property="couponRdiscount" column="COUPON_RDISCOUNT" />
		<result property="couponPdiscount" column="COUPON_PDISCOUNT" />
		<result property="issueNo" column="ISSUE_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="issueCdate" column="ISSUE_CDATE" />
		<result property="issueEdate" column="ISSUE_EDATE" />
		<result property="issueStatus" column="ISSUE_STATUS" />
		<result property="orderNo" column="ORDER_NO" />
	</resultMap>
	
	<!-- 재료 전체 리스트 가져오기 -->
	<select id="selectMateList" resultMap="materialResultSet">
		SELECT *
		FROM MATERIAL M
		LEFT OUTER JOIN IMAGE I
		ON (M.MATERIAL_NO = I.MATERIAL_NO
			AND I.IMG_STATUS = 'Y')
		WHERE M.MATERIAL_STATUS = 'Y'
		AND M.MATERIAL_CATEG <![CDATA[ < ]]> 6
	</select>
	
	<!-- 기본 메뉴 리스트 가져오기 -->
	<select id="selectBasicMenuList" resultMap="basicMenuResultSet">
		SELECT *
		FROM BASIC_MENU
	</select>
	<select id="selectBasicToppingList" resultMap="basicToppingResultSet">
		SELECT *
		FROM BASIC_TOPPING
	</select>
	
	<!-- 레시피 저장 -->
	<select id="selectOrderIno" resultType="_int">
		SELECT SEQ_ODITNO.NEXTVAL FROM DUAL
	</select>
	<select id="selectMypizzaNo" resultType="_int">
		SELECT SEQ_MYPZNO.NEXTVAL FROM DUAL
	</select>
	<insert id="insertRecipeOrderItem" parameterType="com.kh.pmfp.customer.model.vo.OrderItem">
		INSERT INTO ORDER_ITEM(ORDER_INO,ORDER_NO,ORDER_ICATEG,ORDER_ISIZE,ORDER_TCOUNT)
	    VALUES(#{orderIno},0,0,#{orderIsize},1)
	</insert>
	<insert id="insertRecipeOrderTopping" parameterType="com.kh.pmfp.customer.model.vo.OrderTopping">
		INSERT INTO ORDER_TOPPING(ORDER_INO,MATERIAL_NO,ORDER_TCOUNT)
    	VALUES(#{orderIno},#{materialNo},#{orderTcount})
	</insert>
	<insert id="insertRecipeMyPizza" parameterType="com.kh.pmfp.customer.model.vo.MyPizza">
		INSERT INTO MY_PIZZA(MYPIZZA_NO,ORDER_INO,MEMBER_NO,MYPIZZA_NAME)
    	VALUES(#{mypizzaNo},#{orderIno},#{memberNo},#{mypizzaName})
	</insert>
	<insert id="insertRecipeImage" parameterType="com.kh.pmfp.customer.model.vo.Image">
		INSERT INTO IMAGE(IMG_NO,IMG_CATEG,IMG_ORIGINNAME,IMG_CHANGENAME,IMG_FILEPATH,IMG_UPLOADDATE,IMG_STATUS,BOARD_NO,MATERIAL_NO,MYPIZZA_NO,EVENT_NO,BASIC_NO)
    	VALUES(SEQ_IMGNO.NEXTVAL,3,#{imgOriginname},#{imgChangename},#{imgFilepath},SYSDATE,'Y',null,null,#{mypizzaNo},null,null)
	</insert>
	
	<!-- 내 레시피 목록 가져오기 -->
	<select id="selectMyPizzaList" resultMap="myPizzaListResultSet" parameterType="_int">
		SELECT MP.MYPIZZA_NO, MP.MYPIZZA_NAME,
		    OT.MATERIAL_NO, OT.ORDER_TCOUNT,
		    MA.MATERIAL_CATEG
		FROM MY_PIZZA MP
		JOIN ORDER_TOPPING OT ON (MP.ORDER_INO = OT.ORDER_INO
		    AND MP.MEMBER_NO = #{memberNo})
		JOIN MATERIAL MA ON (OT.MATERIAL_NO = MA.MATERIAL_NO)
	</select>
	
	<!-- 사이즈 메뉴 리스트 가져오기 -->
	<select id="selectSideList" resultMap="materialResultSet">
		SELECT *
		FROM MATERIAL M
		LEFT OUTER JOIN IMAGE I
		ON (M.MATERIAL_NO = I.MATERIAL_NO
			AND I.IMG_STATUS = 'Y')
		WHERE M.MATERIAL_STATUS = 'Y'
		AND M.MATERIAL_CATEG = 5
	</select>
	
	<!-- 회원 배송지 정보 가져오기 -->
	<select id="selectDeliveryCompanyList" resultMap="deliveryCompanyResultSet" parameterType="_int">
		SELECT DE.DELIVERY_NO, DE.MEMBER_NO, DE.COM_NO, DE.DELIVERY_ADDRESS, DE.DELIVERY_NAME, DE.DELIVERY_STATUS,
			CO.COM_NAME, CO.COM_ADDRESS, CO.COM_TEL, CO.COM_LISENSENO, CO.COM_STATUS, CO.COM_DATE, CO.COM_SALESTIME,
			CO.COM_LOCATION, CO.COM_PARKING, CO.COM_CONFIRM, CO.LAT, CO.LON
		FROM DELIVERY DE
		JOIN COMPANY CO ON (DE.COM_NO = CO.COM_NO)
		WHERE DE.DELIVERY_STATUS = 'Y' AND CO.COM_STATUS = 'Y'
		AND DE.MEMBER_NO = #{ memberNo }
	</select>
	
	<!-- 최근의 주문 정보에서 수령자 정보 가져오기 -->
	<select id="selectRecentReceiver" resultMap="orderMainResultMap" parameterType="_int">
		SELECT ORDER_RECEIVER, ORDER_RTEL
		FROM ORDER_MAIN
		WHERE MEMBER_NO = #{ memberNo }
		AND ORDER_DATE = (SELECT max(ORDER_DATE)
		    FROM ORDER_MAIN
		    WHERE MEMBER_NO = #{ memberNo })
	</select>
	
	<!-- 쿠폰 목록 가져오기 -->
	<select id="selectCouponList" resultMap="couponResultMap">
		SELECT CP.COUPON_NO, CP.COUPON_NAME, CP.COUPON_CATEG, CP.COUPON_CONDITION, CP.COUPON_CDATE, CP.COUPON_EDATE, CP.COUPON_RDISCOUNT, CP.COUPON_PDISCOUNT,
		    CI.ISSUE_NO, CI.MEMBER_NO, CI.ISSUE_CDATE, CI.ISSUE_EDATE, CI.ORDER_NO
		FROM COUPON CP
		JOIN COUPON_ISSUE CI ON (CP.COUPON_NO = CI.COUPON_NO)
		WHERE CI.ISSUE_STATUS = 'Y'
		AND CI.MEMBER_NO = #{ memberNo }
		AND CP.COUPON_CONDITION <![CDATA[ <= ]]> #{ totalPrice }
	</select>
	
	<!-- 회원 배송지 정보 저장하기 -->
	<select id="insertUserDelAddr" parameterType="com.kh.pmfp.mypage.model.vo.DelList">
		INSERT INTO DELIVERY VALUES(SEQ_DNO.NEXTVAL, #{memberNo}, #{comNo},#{delAddr},#{delName}, default)
	</select>
	
	<!-- 비회원 deliNo 가져오기 -->
	<select id="selectDeliNo" resultType="_int">
		SELECT SEQ_DNO.NEXTVAL FROM DUAL
	</select>
	
	<!-- 비회원 배송지 정보 저장하기 -->
	<select id="insertNoUserDelAddr" parameterType="com.kh.pmfp.mypage.model.vo.DelList">
		INSERT INTO DELIVERY VALUES(#{delNo}, 0, #{comNo},#{delAddr},#{delName}, default)
	</select>
	
	<!-- 비회원 배송지 업체정보 가져오기 -->
	<select id="selectComTel" resultMap="deliveryCompanyResultSet" parameterType="_int">
		SELECT * FROM COMPANY WHERE COM_NO = #{ finalDeliveryLoc }
	</select>
	
	<!-- 업체 리스트 카운트 -->
	<select id="getSearchResultListCount" resultType="_int">
		SELECT COUNT(*)
		FROM COMPANY
		WHERE COM_STATUS = 'Y'
		AND (COM_NAME LIKE '%' || #{search} || '%' OR COM_ADDRESS LIKE '%' || #{search} || '%')
	</select>
	
	<!-- 업체 목록 가져오기 -->
	<select id="selectSearchResultList" resultMap="deliveryCompanyResultSet">
		SELECT *
		FROM COMPANY
		WHERE COM_STATUS = 'Y'
		AND (COM_NAME LIKE '%' || #{search} || '%' OR COM_ADDRESS LIKE '%' || #{search} || '%')
	</select>
	
	<!-- 업체 상세 정보 -->
	<select id="getComDetail" resultMap="deliveryCompanyResultSet">
		SELECT *
		FROM COMPANY
		WHERE COM_STATUS = 'Y'
		AND COM_NO = #{comNo}
	</select>
	
</mapper>
