<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Member">
	<resultMap type="com.kh.pmfp.common.model.vo.Member" id="memberResultSet">
		<id property="memberNo" column="MEMBER_NO"/>
		<id property="memberCateg" column="MEMBER_CATEG"/>
		<id property="memberId" column="MEMBER_ID"/>
		<id property="memberPwd" column="MEMBER_PWD"/>
		<id property="memberName" column="MEMBER_NAME"/>
		<id property="memberNickName" column="MEMBER_NICKNAME"/>
		<id property="memberEmail" column="MEMBER_EMAIL"/>
		<id property="memberEnroll" column="MEMBER_ENROLL"/>
		<id property="memberStatus" column="MEMBER_STATUS"/>
		<id property="comNo" column="COM_NO"/>
	</resultMap>
	
	<!-- 암호화전 로그인 -->
	<select id="loginCheck" resultMap="memberResultSet" parameterType="Member">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID=#{memberId}
		AND MEMBER_PWD=#{memberPwd}
		AND MEMBER_STATUS ='Y'
	</select>
	
	<!-- 일반회원 회원가입 -->
	<insert id="insertNormalMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(SEQ_MNO.NEXTVAL,0,#{memberId},#{memberPwd},#{memberName},
				#{memberNickName},#{memberEmail},SYSDATE,DEFAULT,null)
	</insert>
	
	<!-- 암호화된 비밀번호 조회용 메소드 -->
	<select id="selectPwd" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT MEMBER_PWD 
		FROM MEMBER 
		WHERE MEMBER_ID=#{memberId} 
		AND MEMBER_STATUS='Y'
	</select>
	
	<!-- 일반회원 암호화된 회원가입 -->
	<select id="selectLoginUser" resultMap="memberResultSet" parameterType="Member">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID=#{memberId}
		AND MEMBER_STATUS='Y'
	</select>
	
</mapper>




















