<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Member">
	<resultMap type="com.kh.pmfp.common.model.vo.Member" id="memberResultSet">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberCateg" column="MEMBER_CATEG"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberNickName" column="MEMBER_NICKNAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberEnroll" column="MEMBER_ENROLL"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="comNo" column="COM_NO"/>
	</resultMap>
	
	<resultMap type="com.kh.pmfp.common.model.vo.Company" id="companyResultSet">
		<id property="comNo" column="COM_NO"/>
		<result property="comName" column="COM_NAME"/>
		<result property="comAddress" column="COM_ADDRESS"/>
		<result property="comTel" column="COM_TEL"/>
		<result property="comLisenseno" column="COM_LISENSENO"/>
		<result property="comStatus" column="COM_STATUS"/>
		<result property="comSalestime" column="COM_SALESTIME"/>
		<result property="comLocation" column="COM_LOCATION"/>
		<result property="comParking" column="COM_PARKING"/>
	</resultMap>
	
	<!-- 암호화전 로그인 -->
	<select id="loginCheck" resultMap="memberResultSet" parameterType="Member">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID=#{memberId}
		AND MEMBER_PWD=#{memberPwd}
		AND MEMBER_STATUS ='Y'
	</select>
	
	<!-- 일반회원 회원가입 -->
	<insert id="insertNormalMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(SEQ_MNO.NEXTVAL,0,#{memberId},#{memberPwd},#{memberName},
				#{memberNickName},#{memberEmail},SYSDATE,DEFAULT,null)
	</insert>
	
	<!-- 암호화된 비밀번호 조회용 메소드 -->
	<select id="selectPwd" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT MEMBER_PWD 
		FROM MEMBER 
		WHERE MEMBER_ID=#{memberId} 
		AND MEMBER_STATUS='Y'
	</select>
	
	<!-- 일반회원 암호화된 회원가입 -->
	<select id="selectLoginUser" resultMap="memberResultSet" parameterType="Member">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID=#{memberId}
		AND MEMBER_STATUS='Y'
	</select>
	
	<!-- 아이디 중복확인 -->
	<select id="duplicationCheck" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_ID=#{memberId}
	</select>
	
	<!-- 사업자 회원가입(Company테이블) -->
	<insert id="insertBusinessCompany" parameterType="Company">
		INSERT INTO COMPANY
		VALUES(SEQ_COMNO.NEXTVAL,#{comName},#{comAddress},#{comTel},#{comLisenseno},
				DEFAULT,null,#{comSalestime},#{comLocation},#{comParking},'Y')
	</insert>
	
	<!-- 사업지 회원가입(Member테이블) -->
	<insert id="insertBusinessMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(SEQ_MNO.NEXTVAL,1,#{memberId},#{memberPwd},#{memberName},
				#{memberNickName},#{memberEmail},SYSDATE,DEFAULT,SEQ_COMNO.CURRVAL)
	</insert>
	
	<!-- 아이디 찾기(조회) -->
	<select id="selectIdSearch" resultType="java.lang.String" parameterType="Member">
		SELECT MEMBER_ID
		FROM MEMBER
		WHERE MEMBER_NAME=#{memberName} AND MEMBER_EMAIL=#{memberEmail}
	</select>
	
	<!-- 비밀번호 찾기(DB에 아이디와 이메일이 일치하는 정보가 있는지 조회) -->
	<select id="selectPwdSearch" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT MEMBER_NAME
		FROM MEMBER
		WHERE MEMBER_ID=#{memberId} AND MEMBER_EMAIL=#{memberEmail}
	</select>
	
	<!-- 임시비밀번호로 update -->
	<update id="updatePwd" parameterType="Member">
		UPDATE MEMBER
		SET MEMBER_PWD=#{memberPwd}
		WHERE MEMBER_ID=#{memberId}
	</update>
	
	
</mapper>




















