<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mypage">
	<resultMap type="com.kh.pmfp.mypage.model.vo.OrderList" id="mypageOrderResultSet">
		<id property="orderNo" column="ORDER_NO"/>
		<result property="orderMaterial" column="ORDER_MATERIAL"/>
		<result property="orderMethod" column="ORDER_METHOD"/>
		<result property="comName" column="COM_NAME"/>
		<result property="payPrice" column="ORDER_PAYPRICE"/>
	</resultMap>
	
	<resultMap type="com.kh.pmfp.mypage.model.vo.OrderDetail" id="mypageOrderDetailResultSet">
		<id property="orderNo" column="ORDER__NO"/>
		<result property="orderMethod" column="ORDER_METHOD"/>
		<result property="orderReceiver" column="ORDER_RECEIVER"/>
		<result property="orderRtel" column="ORDER_RTEL"/>
		<result property="orderDate" column="ORDER_DATE"/>
		<result property="payPrice" column="ORDER_PAYPRICE"/>
		<result property="deliveryNo" column="DELIVERY_NO"/>
		<result property="comNo" column="COM_NO"/>
		<result property="orderIsize" column="ORDER_ISIZE"/>
		<result property="orderIcount" column="ORDER_ICOUNT"/>
		<result property="orderTcount" column="ORDER_TCOUNT"/>
		<result property="materialName" column="ORDER_MATERIAL"/>
		<result property="deliveryName" column="DELIVERY_NAME"/>
		<result property="deliveryAddr" column="DELIVERY_ADDRESS"/>
		<result property="comName" column="COM_NAME"/>
		<result property="couponCateg" column="COUPON_CATEG"/>
		
		<result property="couponName" column="COUPON_NAME"/>
		<result property="rDiscount" column="COUPON_RDISCOUNT"/>
		<result property="pDiscount" column="COUPON_PDISCOUNT"/>
	</resultMap>

	<resultMap type="com.kh.pmfp.mypage.model.vo.DelList" id="mypageDelResultSet">
		<id property="delNo" column="DELIVERY_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="comName" column="COM_NAME"/>
		<result property="delAddr" column="DELIVERY_ADDRESS"/>
		<result property="delName" column="DELIVERY_NAME"/>
		<result property="comNo" column="COM_NO"/>
	</resultMap>
	
	<!-- <resultMap type="com.kh.pmfp.mypage.model.vo.DelList" id="mypageDelResultSet2">
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="comNo" column="COM_NO"/>
		<result property="delAddr" column="DELIVERY_ADDRESS"/>
		<result property="delName" column="DELIVERY_NAME"/>
	</resultMap> -->
	
	<resultMap type="com.kh.pmfp.mypage.model.vo.Coupon" id="mypagePCouponResultSet">
		<id property="issueNo" column="ISSUE_NO"/>
		<result property="couponName" column="COUPON_NAME"/>
		<result property="issueStatus" column="ISSUE_STATUS"/>
		<result property="possiblePeriod" column="possiblePERIOD"/>
		<result property="couponCondition" column="COUPON_CONDITION"/>
	</resultMap>
	
	<resultMap type="com.kh.pmfp.mypage.model.vo.MyWriting" id="mypageMyWritingResultSet">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardAnswer" column="BOARD_ANSWER"/>
		<result property="boardDate" column="BOARD_DATE"/>
		<result property="boardType" column="BOARD_TYPE"/>
		<result property="memberNo" column="MEMBER_NO"/>
	</resultMap>
	
	<resultMap type="com.kh.pmfp.mypage.model.vo.MyWriting" id="mypageMyWritingResultSet2">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardDate" column="BOARD_DATE"/>
		<result property="boardType" column="BOARD_TYPE"/>
		<result property="memberNo" column="MEMBER_NO"/>
	</resultMap>
	
	<resultMap type="com.kh.pmfp.mypage.model.vo.Location" id="mypageLocResultSet">
		<result property="comNo" column="COM_NO"/>
		<result property="comNum" column="COM_NUM"/>
		<result property="comName" column="COM_NAME"/>
		<result property="lat" column="LAT"/>
		<result property="lon" column="LON"/>
	</resultMap>
	
	<resultMap type="com.kh.pmfp.mypage.model.vo.Mypizza" id="mypageMypizzaResultSet">
		<id property="mypizzaNo" column="MYPIZZA_NO"/>
		<result property="mypizzaName" column="MYPIZZA_NAME"/>
		<result property="imgChangeName" column="IMG_CHANGENAME"/>
		<result property="imgFilepath" column="IMG_FILEPATH"/>
	</resultMap>

	



	<select id="selectOrderList" resultMap="mypageOrderResultSet" parameterType="_int">
		SELECT om.order_no,
      			 LISTAGG(cast(m.material_name || ot.order_tcount as VARCHAR(100)),'/') within group(order by m.material_no) ORDER_MATERIAL,
      			 om.order_method, com.com_name, om.order_payprice
		FROM order_main OM 
			JOIN company COM ON om.com_no=com.com_no 
			JOIN order_item OI ON om.order_no=oi.order_no
			JOIN order_topping OT ON oi.order_ino=ot.order_ino
			JOIN material m ON ot.material_no=m.material_no
		WHERE om.MEMBER_NO=#{memberNo}
		group by om.order_no, om.order_method, com.com_name, om.order_payprice
	</select>
	
	
	<select id="selectDelList" resultMap="mypageDelResultSet" parameterType="_int">
		SELECT d.DELIVERY_NAME, d.DELIVERY_ADDRESS, c.COM_Name
		FROM DELIVERY d 
		JOIN company c ON c.com_no = d.com_no
		WHERE MEMBER_NO = #{memberNo}
		order by d.delivery_no
		
	</select>
	
	
	<select id="selectPCouponList" resultMap="mypagePCouponResultSet" parameterType="_int">
		SELECT ci.issue_no, c.coupon_name, ci.issue_status, ci.issue_cdate || ' ~ ' ||ci.issue_edate possiblePeriod, c.coupon_condition
		FROM coupon_issue CI 
		JOIN coupon c ON ci.coupon_no = c.coupon_no
		WHERE MEMBER_NO = #{memberNo} 
		AND ci.issue_edate >= SYSDATE
	</select>
	
	<select id="selectICouponList" resultMap="mypagePCouponResultSet" parameterType="_int">
		SELECT ci.issue_no, c.coupon_name, ci.issue_status, ci.issue_cdate || ' ~ ' ||ci.issue_edate possiblePeriod
		FROM coupon_issue CI 
		JOIN coupon c ON ci.coupon_no = c.coupon_no
		WHERE MEMBER_NO = #{memberNo} 
		AND CI.issue_edate <![CDATA[<]]> SYSDATE
	</select>
	
	
	
	
	
	<select id="selectMyWritingList" resultMap="mypageMyWritingResultSet" parameterType="_int">
		select board_no, board_title, board_answer, board_date, board_type
		from board
		where board_type='3' and member_no=#{memberNo}
		order by board_no
	</select>
	
	<select id="selectMyWritingReviewList" resultMap="mypageMyWritingResultSet" parameterType="_int">
		select board_no, board_title, board_answer, board_date, board_type
		from board
		where board_type='0' and member_no=#{memberNo}
		order by board_no
	</select>
	
	<select id="selectMyWritingShareList" resultMap="mypageMyWritingResultSet2" parameterType="_int">
		select board_no, board_title, board_date, board_type
		from board
		where board_type='1' and member_no=#{memberNo}
		order by board_no
	</select>
	
	<select id="selectListCount" resultType="_int" parameterType="MyWriting">
		select count(*) 
		from board 
		where member_no=#{memberNo} 
		and board_type=#{boardType}
	</select>
	
	<select id="selectComLoc" resultMap="mypageLocResultSet">
		select com_no, com_name, lat, lon 
		from company
		order by com_no
	</select>
	
	<insert id="insertUserDelAddr" parameterType="DelList">
		INSERT INTO DELIVERY VALUES(SEQ_DNO.NEXTVAL, #{memberNo}, #{comNo},#{delAddr},#{delName})
	</insert>
	
	<select id="selectMypizza" resultMap="mypageMypizzaResultSet" parameterType="_int">
		select mp.mypizza_no, mp.mypizza_name, img.img_filepath, img.img_changename, img.img_categ
		from my_pizza mp 
		join image img 
		on img.mypizza_no = mp.mypizza_no
		where mp.member_no=#{memberNo} and img.img_categ=3 and img.img_status='Y'
	</select>
	
	
	<select id="selectUseCouponList" resultType="_int" parameterType="OrderDetail">
		select count(*)
		from order_main om join coupon_issue ci on om.order_no = ci.order_no
		where om.member_no = #{memberNo} and om.order_no=#{orderNo}
	</select>
	
	<select id="selectOrderDetailList" resultMap="mypageOrderDetailResultSet" parameterType="_int">
		select om.order_date, om.order_receiver, om.order_rtel, 
		LISTAGG(cast(ma.material_name||ot.order_tcount as VARCHAR(100)),'/') within group(order by ma.material_no) ORDER_MATERIAL,
		oi.order_tcount,
		om.order_payprice, d.delivery_name, d.delivery_address, c.com_name
		from order_main OM
		join order_item OI on om.order_no = oi.order_no 
		join order_topping OT on ot.order_ino = oi.order_ino 
		join material MA on ot.material_no = ma.material_no
		join delivery d on d.delivery_no=om.delivery_no
		join company c on c.com_no = om.com_no
		where om.order_no=#{orderNo}
		group by om.order_date, om.order_receiver, om.order_rtel, oi.order_tcount,
		om.order_payprice, d.delivery_name, d.delivery_address, c.com_name  
	</select>
	
	<select id="selectOrderDetailList2" resultMap="mypageOrderDetailResultSet" parameterType="_int">	
		select om.order_date, om.order_receiver, om.order_rtel, 
		LISTAGG(cast(ma.material_name||ot.order_tcount as VARCHAR(100)),'/') within group(order by ma.material_no) ORDER_MATERIAL,
		om.order_payprice, d.delivery_name, d.delivery_address, c.com_name, cp.coupon_categ, cp.coupon_name,
		cp.coupon_rdiscount, cp.coupon_pdiscount,
        
        decode(cp.coupon_categ, 0, cp.coupon_rdiscount, 1, cp.coupon_pdiscount) discount

        from order_main OM
		join order_item OI on om.order_no = oi.order_no 
		join order_topping OT on ot.order_ino = oi.order_ino 
		join material MA on ot.material_no = ma.material_no
		join coupon_issue ci on ci.order_no = om.order_no
		join delivery d on d.delivery_no=om.delivery_no
		join company c on c.com_no = om.com_no
        join coupon cp on cp.coupon_no = ci.coupon_no
		
		where om.order_no=#{orderNo}
		
		group by om.order_date, om.order_receiver, om.order_rtel, om.order_payprice, d.delivery_name, 
		d.delivery_address, c.com_name, decode(cp.coupon_categ, 0, cp.coupon_rdiscount, 1, cp.coupon_pdiscount), cp.coupon_categ,
		cp.coupon_name,cp.coupon_rdiscount, cp.coupon_pdiscount
        

	</select>
	
	
	
	
	
	
</mapper>
