<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

  
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.pmfp.common.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.pmfp.common.model.vo.Company" alias="Company"/>
		<typeAlias type="com.kh.pmfp.company.model.vo.CompanyBoard" alias="CompanyBoard"/>
		<typeAlias type="com.kh.pmfp.company.model.vo.CompanyOrder" alias="CompanyOrder"/>
	  <typeAlias type="com.kh.pmfp.company.model.vo.CompanyEmployee" alias="CompanyEmployee"/>
	  <typeAlias type="com.kh.pmfp.company.model.vo.CompanyMaterial" alias="CompanyMaterial"/>
	  <typeAlias type="com.kh.pmfp.company.model.vo.CompanyOrderStock" alias="CompanyOrderStock"/> 
	  <typeAlias type="com.kh.pmfp.company.model.vo.CompanyRemainMaterial" alias="CompanyRemainMaterial"/>   
		<typeAlias type="com.kh.pmfp.admin.model.vo.AdminMember" alias="AdminMember"/>
		<typeAlias type="com.kh.pmfp.admin.model.vo.AdminOrder" alias="AdminOrder"/>
		<typeAlias type="com.kh.pmfp.admin.model.vo.AdminSeller" alias="AdminSeller"/>
    <typeAlias type="com.kh.pmfp.mypage.model.vo.OrderList" alias="OrderList"/>
    <typeAlias type="com.kh.pmfp.admin.model.vo.AdminBoard" alias="AdminBoard"/>
    <typeAlias type="com.kh.pmfp.mypage.model.vo.DelList" alias="DelList"/>
    <typeAlias type="com.kh.pmfp.mypage.model.vo.Coupon" alias="Coupon"/>
    <typeAlias type="com.kh.pmfp.mypage.model.vo.MyWriting" alias="MyWriting"/>

	</typeAliases>
	
	
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/company-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/mypage-mapper.xml"/>
		<mapper resource="mappers/customerOrder-mapper.xml"/>
	</mappers>
</configuration>